.header__search form .search-suggest {
    display: none;
    position: absolute;
    text-align: left;
    box-sizing: border-box;
    background: #fffafa;
    max-height: 146px;
    overflow-y: auto;
    width: 90%;
    padding: 5px 15px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 999;
}
.header__search form .search-suggest li.suggest-item {
    list-style: none;
    margin-bottom: 8px;
    color: #848484;
}
.header__search form .search-suggest li.suggest-item a {
    color: inherit;
    display: block;
    font-size: 12px;
}
.search-btn{
    background: transparent;
    border: none;
    outline: none;
    width: 54px;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
}
@media (max-width: 767px) {
    .search-suggest{
        padding: 5px 15px;
        max-height: 200px;
        display: none;
        position: absolute;
        background: #fffafa;
        width: 94.6%;
        z-index: 1000;
        overflow: auto;
    }
}