.event-menu {
    display: flex;
    flex-direction: column;
    margin: 15px 30px 60px 30px;
}

.event-menu-child {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.event-menu-link {
    width: 100%;
    padding: 8px;
    line-height: 28px;
    cursor: pointer;
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    bottom: 1px;
    background-color: #fff;
    color: #337ab7;
    text-decoration: none;
    border: 1px solid #bbb;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    opacity: 0.5;
}

.event-menu-link:hover {
    color: #337ab7;
}

.event-menu-link.active {
    background-color: #654670;
    color: #ffffff;
    border: 1px solid #654670;
    opacity: 1;
}

.event-menu-link.active:hover {
    color: #ffffff;
}
.event-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin: 0 -5px;
}

.event{
    min-width: calc(25% - 10px);
    margin: 5px;
}
.event:hover{
    box-shadow: 2px 2px 15px rgba(0,0,0, .15);
}
.event img{
    width: 100%;
    height: 101%;
    object-fit: contain;
}

.event-block-1-2 {
    position: relative;
    border: none;
    padding-top:66%;
}

.event-block-1-2-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.event-bottom-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}

a.event-link,
a.event-link:hover{
    text-decoration: none;
    color: inherit;
}

.event-preview-text{
    height: 100%;
}

@media (max-width: 767px) {
    .event-menu {
        margin: 0px;
    }
}
@media (max-width: 1200px) {
    .event {
        width: 32%;
    }
}
@media (max-width: 850px) {
    .event {
        width: calc(50% - 10px);
    }
}
@media (max-width: 560px) {
    .event {
        width: 100%;
        margin: 5px 0px;
    }
}
