.grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.grid a {
    text-decoration: none!important;
    max-width: 200px;
    width: 100%;
}

.advantages-section-wrapper h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 45px;
    color: #4e4e4e;
    font-family: 'vollkornsemibold';
}

@media (max-width: 991px) {
    .advantages-section-wrapper h2 {
        font-size: 33px;
    }
}
@media (max-width: 766px) {
    .advantages-section-wrapper h2 {
        margin-top: 0px;
    }
    .grid a{
        min-width: 30%;
    }
    .img {
        height: 55%;
    }
}

@media (min-width: 991px) {
    .advantages-section-wrapper {
        width: 90%;
        margin-left: 5%!important;
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
}
@media (max-width: 450px) {
    .advantages-text {
        font-size: 3.5vw;
    }
}

.padded-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.img {
    width: 100%;
    max-height: 150px;
}

.advantages-text {
    text-align: center;
    font-family: 'firabold'!important;
    color: #c8c5c5!important;
    text-transform: uppercase;
}

.home-advantages-header {
    text-align: center;
}

.advantages-section-wrapper {
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}


