.padded-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.img {
    width: 100%;
    max-height: 150px;
}

.advantages-text {
    text-align: center;
    font-family: 'gilroyBold'!important;
    color: #000000!important;
    text-transform: uppercase;
}

.advantages-list-wrapper {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    flex-wrap: wrap;
}

.advantages-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .advantages-element {
        margin: 10px 0;
    }
}

@media (max-width: 767px) {
    .advantages-element:nth-child(3n-2) {
        padding-left: 0!important;
    }
    .advantages-element:nth-child(3n) {
        padding-right: 0!important;
    }
    .advantages-element:nth-child(3n-1) {
        padding: 0 7px!important;
    }
    .advantages-list-wrapper {
        padding: 0!important;
    }
}
