#subscribe-form > .error {
    margin: 0 0 10px 0;
}

input#EMAIL.red_border_sub {
    border: 1px solid red !important;
}

#subscribe-message {
    pointer-events: auto;
}

#subscribe-message a {
    color: #fd7778;
    transition: opacity 300ms;
}

#subscribe-message a:hover {
    opacity: 0.8;
}

.subscribe-wrapper {
    height: 128px;
    background: white;
    padding: 0 15px;
    float: left;
    width: 100%;
}

.subscribe-left-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 0;
}

.subscribe-right-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0;
}

.subscribe-center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
}

#subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 39px;
}

#subscribe-form input[type="email"] {
    height: 100%;
    width: 70%;
    border: none;
    background: #ECECEC;
    color: #000000;
    font-size: 13px;
    font-family: gilroyRegular;
    padding: 0 0 0 15px;
}

#subscribe-form input[type="submit"] {
    padding: 0;
    height: 100%;
    width: 30%;
    border: none;
    background: #C2A0DB;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-family: gilroySemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
}

.subscribe-errors {
    display: none;
}

@media (max-width: 1440px) and (min-width: 1200px) {
    .subscribe-right-wrapper {
        display: none;
    }
}

@media (max-width: 1200px) {
    #subscribe-form input {
        font-size: 10px!important;
    }
}

@media (max-width: 991px) {
    .subscribe-wrapper .main {
        margin: 0;
    }
}

.subscribe-wrapper .main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}