.filter-btn-loader {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    background-color: white !important;
    opacity: 0.7 !important;
    background-position: 62% 38%;
    padding: 0;
    left: 0px;
    top: 0px;
}

.load-more-btn-loader {
    display: none;
    color: transparent;
    background: url('/local/templates/respect/components/bitrix/system.pagenavigation/show_full/images/bars_black.svg') center no-repeat;
    -webkit-background-size: 15%;
    background-size: 15%;
    border: none;
    font-size: 0;
    padding: 28px 80px 15px;
    width: 207px;
    height: 44px;
}

.load-more-btn-main {
    display: inline-block;
}

.load-more-btn {
    cursor: pointer;
}

.clear-blocks {
    margin-top: 25px;
}

#cart__coupon-error,
#cart__coupon-error2 {
    height: 20px;
}

#basket_checkbox_policy label,
#basket_checkbox_policy2 label {
    margin-top: 0px;
    margin-left: 5px;
    padding: 0 0 0 35px;
    border: 1px solid white;
}

#basket_checkbox_policy label:before,
#basket_checkbox_policy2 label:before {
    margin-left: 5px;
}

#basket_checkbox_policy .err-order,
#basket_checkbox_policy2 .err-order {
    height: 20px;
}

.load-more-btn-loader-visible {
    display: inline-block !important;
    vertical-align: middle !important;
}

.checkout__block--contact-info .form__field {
    margin-bottom: 0px;
}

.checkout__block--contact-info .err-order {
    height: 20px;
}

.err-order,
#cart__coupon-error,
#cart__coupon-error2 {
    color: red;
    margin-left: 15px;
}

.err-delivery,
.err-payment {
    text-transform: none;
    margin-left: 20px;
}

.subscribe_row > .form__field {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .cart-city-input,
    #postal_code,
    #postal_code2,
    .form__field--1-4 .form__elem,
    .form__field--2-4 .form__elem {
        margin-bottom: 20px;
    }

    .clear-blocks {
        margin-top: 5px;
    }
}