.topmenu {
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding-top: 5px;
}

.topmenu li {
    padding: 10px 0;
}

.topmenu a {
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}

.topmenu a:focus {
    color: #000000;
    text-decoration: none;
}

.submenu {
    display: none;
}

.submenu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topmenu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.submenu img {
    width: 30px;
}

.sub-submenu {
    display: none;
}

.sub-submenu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu-arrow-up {
    display: none;
}

.arrow-down-hidden .submenu-arrow-up {
    display: block;
}

.arrow-down-hidden .submenu-arrow-down {
    display: none;
}

.submenu-item {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-family: gilroyMedium;
}

a.submenu-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 130px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
}

.submenu-img-wrapper {
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.submenu-img-wrapper img {
    max-height: 100%;
    max-width: 100%;
}

.second-level-menu-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
    background: white;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 5px;
}

.second-level-menu-wrapper .submenu-level2-item {
    text-align: left;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sub-submenu-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 767px) {
    .topmenu a:hover {
        color: #000000;
        text-decoration: none;
    }
}