.action-banners-list-main {
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
    padding: 0 15px;
}

@media (max-width:992px) {
    .action-banners-list-element {
        padding: 0!important;
        margin: 15px 0;
    }

    .action-banners-list-main {
        padding: 0!important;
    }
}