.shop-card__work-time {
    flex: initial !important;
}
.shop-card__work-time span {
    white-space: normal !important;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
 
.shop-card__content.shop-card__content--with-bonus {
    padding-bottom: 45px;
}
.shop-card__bonus {
    position: absolute;
    bottom: 1.5em;
    right: 0;
}
.shop-map.shop-map--square {
    padding-top: 100%;
}
.shop-map {
    width: 100%;
    position: relative;
}
.korpus .tabs-item
{
    padding: 8px;
    line-height: 28px;
    cursor: pointer;
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    bottom: 1px;
    background-color: #fff;
    color: #337ab7;
    text-decoration: none!important;
    border: 1px solid #bbb;
}
.korpus .tabs-item.active
{
    background-color: #654670;
    color: #ffffff;
    border: 1px solid #654670;
    /*font-family: 'gilroyRegular';*/
}
@media (min-width: 991px) {
  .korpus .tabs-item:hover {
      text-decoration: underline!important;
  }
}
#map,#metro,#wrap{
    margin-bottom: 50px;
}
#map,#metro{
    display: none;
}




.subway-map .map-marker {
    position: absolute;
    transform: translateX(-10px) translateY(-65%) translateZ(0) scale(0.5);
    background-image: url(/local/templates/respect/images/subway-marker_left.png);
    width: 55px;
    height: 39px;
}
.subway-map .map-marker.with-bubble {
    z-index: 10;
}
.map-marker {
    background-image: url(/local/templates/respect/images/map-marker.png);
    background-size: contain;
    width: 47px;
    height: 61px;
    cursor: pointer;
}
.subway-map .map-marker .map-bubble {
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    margin-left: 30px;
    margin-top: -20px;
    font-size: 2rem;
    min-width: 28rem;
}
.map-marker .map-bubble {
    position: absolute;
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    margin-top: -23px;
    margin-left: -15px;
    min-width: 15rem;
    pointer-events: none;
    opacity: 0;
    transition: all .3s linear;
}
.map-bubble {
    color: #ffffff;
    background-color: #064177;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    margin: 0 auto 1rem;
}
.map-bubble__title {
    margin-bottom: 1rem;
}
.map-bubble__metro {
    margin-bottom: 0.8rem;
}

.map-bubble {
    color: #ffffff;
    background-color: #064177;
    border-radius: 5px;
    padding: 2rem;
    position: relative;
    margin: 0 auto 1rem;
}

@media (max-width: 599px) {
    .map-bubble {
        font-size: 0.75rem;
    }
}

.map-bubble:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem 1rem 0 1rem;
    border-color: #064177 transparent transparent transparent;
}

.map-bubble__title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.map-bubble__metro {
    margin-bottom: 0.8rem;
}

.map-bubble__metro i.icon,
.map-bubble__metro .selectize-control.multi i.selectize-input:after,
.selectize-control.multi .map-bubble__metro i.selectize-input:after,
.map-bubble__metro .selectize-control.single i.selectize-input:after,
.selectize-control.single .map-bubble__metro i.selectize-input:after,
.map-bubble__metro .slick-slider > i.slick-arrow,
.map-bubble__metro form i.input-group--calendar:after,
form .map-bubble__metro i.input-group--calendar:after,
.map-bubble__metro label.checkbox > span i.input__color,
label.checkbox > span .map-bubble__metro i.input__color,
.map-bubble__metro label.radio > span i.input__color,
label.radio > span .map-bubble__metro i.input__color,
.map-bubble__metro i.input-group--phone:before,
.map-bubble__metro i.dropdown-toggle:after,
.map-bubble__metro .navigation i.navigation-toggler,
.navigation .map-bubble__metro i.navigation-toggler,
.map-bubble__metro i.filters-toggle:after,
.map-bubble__metro i.filters-reset:after,
.map-bubble__metro i.cart-item__toggle:before {
    font-size: 0.8em;
    color: #f20f1c;
}

.map-bubble__info {
    padding: 0;
    list-style-type: none;
    margin-left: 1.5rem;
    margin-bottom: 0;
}

.map-bubble__info li {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    vertical-align: middle;
}

.map-bubble__info li + li {
    margin-top: 1rem;
}

.map-bubble__info li span {
    vertical-align: middle;
}

.map-bubble__info li i.icon,
.map-bubble__info li .selectize-control.multi i.selectize-input:after,
.selectize-control.multi .map-bubble__info li i.selectize-input:after,
.map-bubble__info li .selectize-control.single i.selectize-input:after,
.selectize-control.single .map-bubble__info li i.selectize-input:after,
.map-bubble__info li .slick-slider > i.slick-arrow,
.map-bubble__info li form i.input-group--calendar:after,
form .map-bubble__info li i.input-group--calendar:after,
.map-bubble__info li label.checkbox > span i.input__color,
label.checkbox > span .map-bubble__info li i.input__color,
.map-bubble__info li label.radio > span i.input__color,
label.radio > span .map-bubble__info li i.input__color,
.map-bubble__info li i.input-group--phone:before,
.map-bubble__info li i.dropdown-toggle:after,
.map-bubble__info li .navigation i.navigation-toggler,
.navigation .map-bubble__info li i.navigation-toggler,
.map-bubble__info li i.filters-toggle:after,
.map-bubble__info li i.filters-reset:after,
.map-bubble__info li i.cart-item__toggle:before {
    display: inline-block;
    font-size: 1.5em;
    width: 1em;
    text-align: right;
    vertical-align: middle;
    margin-right: 0.5rem;
}
.map-marker .map-bubble {
    position: absolute;
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    margin-top: -23px;
    margin-left: -15px;
    min-width: 15rem;
    pointer-events: none;
    opacity: 0;
    transition: all .3s linear;
}
.subway-map .map-marker .map-bubble {
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    margin-left: 30px;
    margin-top: -20px;
    font-size: 2rem;
    /*min-width: 28rem;*/
    min-width: 39rem;
}
.map-marker.with-bubble .map-bubble {
    opacity: 1;
    font-size: 2.5rem;
}

.in-magaz {
    margin-right: 1%;
}

.shop-block__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1%;
    width: 100%;
}

.shop-block {
    display: flex;
    width: 100%;
}