.sideSellerPanel {
    position: fixed;
    width: 300px;
    height: 240px;
    background-color: white;
    top: 50%;
    left: 0;
    margin-left: -300px;
    z-index: 9000;
    border-top: solid 3px #034078;
    border-bottom: solid 3px #034078;
}

.sideSellerPanel.opened {
    margin-left: 0px;
}

.sellerPlane {
    position: relative;
    display: block;
    width: 240px;
    height: 22px;
    padding: 0 20px 2px;
    background-color: #034078;
    float: right;
    color: white;
    transform: translate(50%, 5px) rotate(90deg) translate(0, -50%);
    text-align: center;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.sellerPlane p {
    margin: 0;
}

.storeSellerSelect {
    max-width: 275px;
}

.sellerSelectSide {
    position: relative;
    width: 300px;
    height: 43%;
    float: left;
    text-align: center;
    margin: auto 0;
}

.sellerSelect {
    margin-top: 20px;
}

.sideSellerPanel .seller {
    background-color: #ff0600;
}

.sideSellerPanel.seller {
    border-top: solid 3px red;
    border-bottom: solid 3px red;
}
