.in-catalog {
    margin-top: 30px;
    margin-bottom: 20px;
}

.left-catalog {
    width: 28%;
    display: inline-block;
    padding-right: 7.5px;
    float: left;
}

.left-catalog a {
    color: #000000;
    font-family: 'gilroyRegular';
    font-size: 16px;
}

.left-catalog a:hover {
    color: #000000;
}


.hide-filter:hover > .h-hide {
    display: none !important;
}

.hide-filter:hover > .x-hide {
    display: block !important;
}

.hide-filter:hover {
    color: #654670 !important;
    transition: 300ms;
    -webkit-transition: 300ms;
    font-family: 'gilroyRegular';
}

.x-hide {
    display: none;
}


.show-filter:hover {
    color: #654670 !important;
    transition: 300ms;
    -webkit-transition: 300ms;
    font-family: 'gilroyRegular';
}

.show-filter img {
    float: left;
    padding-right: 15px;
}


.hide-filter img {
    float: left;
    margin-top: 2px;
    padding-right: 15px;
}

.right-catalog {
    width: 70%;
    display: inline-block;
}

.right-catalog ul {
    display: flex;
}

.right-catalog li {
    flex-grow: 1;
    flex-basis: auto;
    text-align: left;
    list-style-type: none;
    font-family: 'gilroyRegular';
    font-size: 16px;
}

.right-catalog li.not-a {
    font-family: 'gilroyRegular';
    color: #000000;
}

.right-catalog li a {
    color: #b8b4b4;
}

.right-catalog li:hover > a {
    color: #654670;
    font-family: 'gilroyRegular';
}

.right-catalog li.active > p {
    color: #000000;
}

.right-catalog li.active {
    font-family: 'firamedium';
}

.in-left-catalog {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

.in-left-catalog--first {
    margin-top: 30px;
}

.in-left-catalog--no-toggle .name-h3 {
    background: #f3f3f3 !important;
    box-sizing: border-box;
    min-height: 60px;
}

.in-left-catalog--no-toggle h3 {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.in-left-catalog--no-toggle label {
    display: inline-block;
    margin: -22px 0 !important;
    border: 23px solid transparent;
    border-left: none;
    border-right: none;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000 !important;
}

@media (max-width: 1200px) {
    .in-left-catalog--no-toggle label {
        font-size: 14px !important;
    }
}

.name-h3 {
    width: 100%;
    /*padding: 20px 30px 20px 54px;*/
    padding: 20px 30px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.active-name-h3 {
    background: white !important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.in-in-left {
    /*padding: 0px 30px 20px 54px;*/
    padding: 0 30px 20px 30px;
    display: none;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 25%);
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filter-name {
    font-size: 15px;
    color: #000000;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'gilroyMedium';
}

.from-filter {
    font-family: 'gilroyRegular';
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    width: 100%;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.to-filter {
    font-family: 'gilroyRegular';
    font-size: 16px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    height: 21px;
}

.in-in-left .from-filter input, .in-in-left .to-filter input {
    background: #F8F3FB;
    border: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: right;
    font-family: 'gilroyRegular';
    font-size: 16px;
    color: #000000;
    width: 80%;
    height: 100%;
}

.in-in-left .from span, .in-in-left .to span {
    width: 25px;
}

.in-left-catalog .name-h3 {
    color: #000000;
}

.minus, .plus {
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    top: 30%;
}

@media (min-width: 1200px) {
    .minus, .plus {
        right: 10px;
    }
}

.minus {
    display: none;
}

.clear-section {
    display: none;
    margin-right: 4px;
    color: #000000;
    height: 20px;
    width: 20px;
    vertical-align: top;
    position: absolute;
    left: 7px;
    top: 19px;
}

.clear-section:hover,
.clear-section:active {
    color: #000000;
}

.clear-section__icon {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    position: relative;
    top: 1px;
}

.in-left-catalog--checked > .name-h3 {
    color: #654670;
    padding: 20px 30px;
}

.in-left-catalog--checked > .name-h3 *,
.in-left-catalog--checked > .name-h3 .clear-section:hover,
.in-left-catalog--checked > .name-h3 .clear-section:active {
    color: #654670;
}

.in-left-catalog--checked .clear-section {
    display: inline-block;
}

.filters__btn {
    padding: 12px 0;
    width: 100%;
    font-family: 'gilroyRegular';
    font-size: 16px;
    text-align: center;
    outline: 0;
    margin-top: 15px;
    border: 0;
    outline: 0;
}

.filters__btn--disabled {
    background: #C8BAD0!important;
}

.filters__btn-text--desktop {
    display: inline-block;
}

.filters__btn-text--mobile {
    display: none;
}

.filters__btn--submit {
    background: #654670;
    border-radius: 5px;
    color: white;
}

.filters__reset-btn {
    padding: 8px 0;
    color: #000000;
    background: white!important;
    border-radius: 5px;
    height: 45px;
    font-size: 15px;
    line-height: 17px;
    font-family: gilroyRegular;
}

.filter__main-list {
    width: 100%
}

.hide-filter {
    margin-bottom: 130px !important;
}

.show-filter {
    margin-bottom: 130px !important;
    display: none;
}

.checkbox_size {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 10px;
}

.checkbox_size + label {
    position: relative;
    padding: 0 0 0 35px;
    width: 100%;
    margin: 10px 0 10px 0;
    font-family: 'gilroyRegular';
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

@media (min-width: 992px ) and (max-width: 1200px) {
    .in-left-catalog:nth-last-of-type(3) label {
        max-width: 160px;
    }
}

@media (min-width: 1201px ) and (max-width: 1500px) {
    .in-left-catalog:nth-last-of-type(3) label {
        max-width: 230px;
    }
}

@media (min-width: 1501px ) {
    .in-left-catalog:nth-last-of-type(3) label {
        max-width: none;
    }
}

.checkbox_size + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #e4e4e4;
    background: #ffffff no-repeat;
}

.checkbox_size:checked + label:before {
    background-image: url('/img/checkbox-checked.png');
    background-position: center;
}


.checkbox_material {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 10px;
}

.checkbox_material + label {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 10px 0 10px 0;
    font-family: 'gilroyRegular';
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.checkbox_material + label:before {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    width: 22px;
    height: 22px;
    background: url('/img/checkbox.png');
}

.checkbox_material:checked + label:before {
    background: url('/img/checkbox-checked.png');
}

.checkbox_podkladka {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 10px;
}

.checkbox_podkladka + label {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 10px 0 10px 0;
    font-family: 'gilroyRegular';
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.checkbox_podkladka + label:before {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    width: 22px;
    height: 22px;
    background: url('/img/checkbox.png');
}

.checkbox_podkladka:checked + label:before {
    background: url('/img/checkbox-checked.png');
}

.inner-color {
    position: absolute;
    left: 35px;
    width: 22px;
    height: 22px;
    box-shadow: 0 0 1px 1px #e4e4e4;
}

.outer-color .checkbox_size + label {
    padding-left: 65px;
}

.outer-color {
    width: 100%;
}

.label-for-color--white .inner-color {

}

.checkbox_color {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 0px;
}

.checkbox_color + label {
    position: relative;
    padding: 0;
    margin: 10px 0 50px 0;
    cursor: pointer;
}

.checkbox_color + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

.checkbox_color:checked + label:before {
    outline: 2px solid rgba(0, 0, 0, .3);
}

.in-left-catalog:last-child {
    border-bottom: 1px solid rgba(200, 200, 200, .4);
}

.catalog__content-col--main {
    padding: 0 10px 0 0!important;
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .catalog__content-col--main {
        padding: 0!important;
    }
}

@media (min-width: 1200px) {
    .col-lg-3 .name-sel {
        min-height: 68px;
        font-size: 15px;
    }

    .col-lg-3 .about-bestsel {
        padding: 20px 5px;
    }
    .in-in-left{
        position: relative;
        overflow-y: auto;
        max-height: 258px;
        overflow-x: hidden;
    }
}

@media (max-width: 1289px) {
    .filter__status-text-btn {
        font-size: 12px !important;
    }
}

@media (max-width: 1150px) {
    .filter__status-text-btn {
        font-size: 10px !important;
        line-height: 22px;
    }
}

@media screen and (max-width: 767px) {
    .in-in-left{
        position: relative;
        overflow-y: auto !important;
        max-height: 260px;
        overflow-x: hidden !important;
    }
    .heart__btn svg {
        height: 20px;
    }
}

@media (max-width: 599px) {
    .filters__selector label span:before {
        display: flex !important;
    }
}

footer .hide-block {
    display:none;
}

.checkbox_color + label.mydisabled::before {
    opacity: 0.3;
}

.filter-btn-loader {
    width: 100% !important;
    height: 37px !important;
    position: absolute !important;
    background-color: white !important;
    opacity: 0.7 !important;
    display: none;
    background-position: 62% 38%;
    padding: 0;
}

.mydisabled {
    opacity: 0.3;
}
.filter__select,
.filter__selected {
    display: flex;
    border-top: 1px solid rgba(200,200,200, .4);
    border-left: 1px solid rgba(200,200,200, .4);
    border-right: 1px solid rgba(200,200,200, .4);
}

.filter__displayed {
    position: sticky;
    z-index: 11;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px 0;
}

.filter-reset-container {
    position: relative;
    z-index: 0;
}

.filter-reset-btn,
.filter__disabled-reset-btn{
    position: relative;
    z-index: 2;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background-color: #654670;
    border: none;
    color: white;
}
.filter-reset-btn:focus,
.filter-reset-btn:active {
    outline: none;
}
.filter-reset-tooltip {
    display: none;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #654670;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.filter-reset-tooltip::after {
    content: "";
    display: block;
    border: 5px solid transparent;
    border-top: 5px solid #654670;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.filter-reset-btn:not(.filter__disabled-reset-btn):hover + .filter-reset-tooltip{
    display: block;
}

.filter__disabled-reset-btn{
    background-color: #C8BAD0;
    cursor: default;
}

.filter__disabled-reset-btn::before,
.filter__disabled-reset-btn::after{
    cursor: default;

}

.filter-reset-btn::after,
.filter__disabled-reset-btn::before,
.filter-reset-btn::before,
.filter__disabled-reset-btn::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    width: 1px;
    height: 20px;
    background-color: white;
}
.filter-reset-btn::before,
.filter__displayed-reset-btn::before{
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.filter__status-text-btn{
    padding: 7px 10px;
    background: #C8BAD0;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    border: none;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    margin-left: 5px;
    font-size: 14px;
    font-family: gilroyRegular;
    text-align: center;
    text-transform: uppercase;
    height: 36px;
}
.filter__status-text-btn-active{
    background: #60486D;
}
.filter__status-text-btn:active,
.filter__status-text-btn:focus {
    outline: none;
}

.filter__status-text-btn span:first-child,
.filter__status-text-btn span:first-child{
    text-transform: uppercase;
    margin-bottom: 2px;
    margin-right: 4px;
}

.filters .checkbox.disabled input + span {
    opacity: 0.3;
}
.lds-ring-container-first {
    text-align: center;
    width: 100%;
}
.lds-ring-container {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    /* TODO - позиционирование*/
    top: 515px;
    left: 5px;
}
.lds-ring {
    display: inline-block;
    position: relative;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lds-ring--settings {
    width: 23px;
    height: 23px;
}

.lds-ring--settings div {
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-color: #654670 transparent transparent transparent;
}
.lds-ring-container-lazyload {
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 30%;
}
.lds-ring--lazyload {
    width: 40px;
    height: 40px;
}

.lds-ring--lazyload div {
    width: 40px;
    height: 40px;
    border: 3px solid;
    border-color: #654670 transparent transparent transparent;
}

@media screen and (max-width: 767px) {
    .lds-ring {
        display: inline-block;
    }
    .lds-ring--settings {
        width: 23px;
        height: 23px;
        margin-right: 15px;
    }
    .in-in-left{
    	position: relative;
        overflow-y: auto !important;
    	max-height: 260px;
    	overflow-x: hidden !important;
    }
    .lds-ring-container-lazyload {
        top: 25%;
    }
}

.lds-ring--button {
    width: 64px;
    height: 64px;
}

.lds-ring--button div {
    width: 55px;
    height: 55px;
    border: 6px solid;
    border-color: #654670 transparent transparent transparent;
}

.checkbox_size + label:before {
    bottom: 0;
    margin: auto;
}

.storage_search {
    height: 45px;
    background: #fff url(/local/templates/respect/img/search.png) no-repeat 95% 50%;
    outline: 0;
    border: 1px solid rgba(200,200,200, .3);
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
}

.storages-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.storages-list p {
    margin: 0;
}

.filter__main-list,
.filter__type-list,
.filter__product-list {
    list-style: none;
    position: relative;
}

.filter__main-list {
    padding-left: 15px;
}

.filter__product-list {
    padding-left: 25px;
}

.filter__type-list {
    padding-left: 0;
}

.filter__product-list::before {
    content: "";
    width: 1px;
    height: calc(100% - 8px);
    display: block;
    position: absolute;
    top: -13px;
    left: 10px;
    background-color: rgba(200,200,200, .4);
}

.filter__product-list li::before {
    content: '';
    display: block;
    background-color: rgba(200,200,200, .4);
    width: 15px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}

.filter__main-list li ,
.filter__type-list li,
.filter__product-list li {
    position: relative;
    width: 80%;
}

.filter__main-list li:last-child .name-h3 {
    padding-bottom: 0;
}

.in-in-left .in-in-left  {
    padding: 0;
}

.in-in-left .name-h3{
    margin: 0 -30px 0 0;
    padding-left: 0;
    width: auto;
    background: transparent;
}

.filter__form .scroll-wrapper > .scroll-content {
    max-height: 250px
}

.max-height-400 {
    max-height: 400px !important;
}

.filter__main-list .plus,
.filter__main-list .minus {
    width: 16px;
    height: 16px;
    right: auto;
    left: 150px;
}

.filter__main-list .name-h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.type_izd {
    max-height: none!important;
}

.page-massage.recomendation {
    font-size: 18px;
    font-weight: 600;
}


@media (max-width: 991px) {
    .filter__displayed {
        display: none;
    }
}

.filter__type-item {
    width: 100%!important;
    padding-right: 0;
}

.filter__type-item a {
    padding-right: 0;
}

.filter-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1em;
}

.filter-toggle__icon {
    align-items: center;
    display: flex;
    height: 1.25em;
    margin-right: .9375em;
    width: 1.25em;
}

.filter-toggle__icon-pic {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.filter-toggle__icon-pic--show {
    display: none;
}

.filter-toggle--hidden .filter-toggle__icon-pic--show {
    display: block;
}

.filter-toggle--hidden .filter-toggle__icon-pic--hide {
    display: none;
}

.filter-toggle__text {
    color: #000000;
    font-family: 'gilroyRegular';
}

.filter-toggle__text--show {
    display: none;
}

.filter-toggle--hidden .filter-toggle__text--show {
    display: inline;
}

.filter-toggle--hidden .filter-toggle__text--hide {
    display: none;
}

.filter-toggle:hover .filter-toggle__text {
    text-decoration: underline;
}

.sort {
    align-items: baseline;
    display: flex;
    font-size: 1em;
}

.sort--lk {
    flex-direction: column;
}

.sort__title {
    color: #000000;
    font-family: 'gilroyRegular';
    margin-right: 1.5625em;
}

.sort__items {
    align-items: baseline;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.sort__item {
    margin-left: .9375em;
}

.sort__item:first-child {
    margin-left: 0;
}

.sort__text {
    color: #b8b4b4;
    cursor: pointer;
}

.sort__text--active {
    color: #654670;
}

.sort__text:hover {
    color: #654670;
    text-decoration: underline;
}

.sort__text--active:hover {
    text-decoration: none;
}

.view {
    align-items: center;
    display: flex;
    font-size: 20px;
}

.view__item {
    cursor: pointer;
    color: #b8b4b4;
    line-height: 0;
    margin-left: 10px;
}

.view__item:first-child {
    margin-left: 0;
}

.view__item--active {
    color: #A48ED2;
}

.view__item:hover {
    color: #A48ED2;
}

.view .view__item-icon--device {
    display: none;
}

.view__item-icon--square:before {
    background-color: currentColor;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
}

.cards__box {
    display: flex;
    flex-wrap: wrap;
}

.cards__banner {
    width: 100%;
    margin-top: 20px;
}

.stock-banner__wrapper {
    position: relative;
}

.stock-banner--internal {
    display: none;
}

.stock-banner--external {
    display: block;
    margin-bottom: 15px;
}

.stock-banner__img {
    width: 100%;
    z-index: 1;
}

.stock-banner__link {
    position: absolute;
    z-index: 2;
}

.banner {
    width: 100%;
}

.banner__img {
    display: block;
    width: 100%;
}

.catalog {
    padding-bottom: 3.125em;
}

.catalog__banner {
    display: none;
    margin: 1.875em 0;
}

.catalog__content {
    display: flex;
}

.catalog__content-col {
    flex-grow: 1;
}

.catalog__content-col--sidebar {
    transition: all .15s;
}

.catalog__content .catalog__content-col--hidden {
    box-sizing: border-box;
    flex-grow: 0;
    overflow: hidden;
    padding: 0;
    width: 0;
}

.catalog__settings {
    align-items: center;
    display: flex;
    font-size: 16px;
    margin-bottom: 1.875em;
}
@media(max-width: 990px){
    .catalog__settings {
        margin-bottom: 2em;
    }
}

.catalog__settings-col--left {
    line-height: 0;
}

.catalog__settings-col--middle {
    display: none;
}

.catalog__settings-line {
    align-items: center;
    display: flex;
}

.catalog__filter-toggle {
    display: inline-flex;
}

.catalog__filter-toggle--device {
    display: none;
}

.catalog__sort-select {
    max-width: 100%;
    padding: 10px;
}

.catalog__view {
    margin-left: auto;
}

.catalog__cards  {
    font-size: 16px;
}

.catalog__navigation {
    margin-top: 3.125em;
}

.catalog__navigation .after-all-in-right-catalog {
    padding: 0;
}

.catalog__navigation .navigation-row {
    margin-top: 0;
}

.catalog .in-left-catalog--first {
    margin-top: 0;
}

@media (max-width: 1279px) {
    .catalog__settings {
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .cards__banner {
        margin-top: 0;
    }

    .sort__title {
        margin-right: .9375em;
    }

    .view .view__item-icon--desktop {
        display: none;
    }

    .view .view__item-icon--device {
        display: inline-block;
        padding: 8px;
        background-color: #f9f9f9;
        border-radius: 5px;
    }

    .catalog__banner {
        display: block;
    }

    .catalog .catalog__settings-col {
        width: auto;
    }

    .catalog .catalog__settings-col--left {
        padding-right: 0;
        padding-left: 5px;
    }

    .catalog .catalog__settings-col--middle {
        padding-right: 0;
        padding-left: 0;
    }

    .catalog .catalog__settings-col--right {
        margin-left: auto;
        padding-left: 0;
        padding-right: 5px;
    }

    .catalog__filter-toggle--desktop {
        display: none;
    }

    .catalog__filter-toggle--device {
        display: inline-flex;
        background-color: #654670;
        padding: 8px;
        font-size: 18px;
        border-radius: 5px;
    }
    .catalog__filter-toggle--device .filter-toggle__text--mobile {
        color: #ffffff;
        margin: 0 0.3em 0 0.5em;
    }
    .catalog__filter-toggle--device .filter-toggle__icon {
        margin-right: 0;
        width: 20px;
        height: 20px;
    }

    .catalog__content-col--sidebar {
        display: none;
    }
    .filter {
        position: fixed !important;
        top: 0;
        left: 0;
        height: 100vh;
        padding: 0 5px 150px 5px!important;
        background-color: #fff5f7;
        overflow: auto;
        z-index: 99999999999;
    }
    .filter__wrapper .cls-blue-menu {
        position: fixed !important;
        top: 0;
        left: 195px;
        display: block;
        padding-top: 10px;
    }
    .filter__form {
        margin-top: 45px;
    }
}

.catalog__sort--mobile {
    display: none;
    text-align: center;
    margin-bottom: 40px;
}

.catalog-sort--mobile-icon {
    display: none;
}

.catalog-sort--mobile-icon.active svg path {
    fill: #654670;
}

.catalog-sort--show {
    display: block;
}

.catalog-change-image.active .arrow-top {
    fill: #654670;
}

.catalog-change-image.active .boot {
    fill: #b8b4b4;
}

.catalog-change-image.active .arrow-bottom {
    fill: #b8b4b4;
}

@media (max-width: 767px) {
    .js-filter-col {
        width: 100% !important;
    }

    .js-filter-wrapper .cls-blue-menu {
        left: auto;
    }

    .filters__bottom {
        height: 80px;
    }

    .catalog__settings-col--middle {
        display: block;
        max-width: 41%;
    }

    .catalog__sort--desktop {
        display: none;
    }

    .catalog__view {
        margin-left: 0;
    }

    .catalog-sort--mobile-icon {
        display: block;
    }
}

.sale-img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: block!important;
}

.product-card-wrapper {
    background: #FFFFFF;
    position: relative;
    border-radius: 10px;
    height: 375px!important;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

a.product-href-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    text-underline: none;
    color: black;
}

a.product-href-wrapper:hover {
    text-decoration: none;
    text-underline: none;
    color: black;
}

.product-img-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-img {
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

.product-title {
    font-family: 'gilroyRegular';
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    height: 100px;
    padding: 15px;
    position: relative;
    display: block;
    overflow: hidden;
}

.product-icons-wrap {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    top: 0;
    right: 0;
    padding: 0 7px;
    z-index: 1;
    max-width: 30%;
}

@media (max-width: 400px) {
    .product-icons-wrap {
        max-width: 40%;
    }
}

.sale-tooltip {
    height: 22px;
    width: 40px;
    background: #F83801;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "gilroySemiBold";
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5px;
}

.heart__btn {
    background-color: transparent;
    border: none;
    z-index: 10;
    left: 7px;
    top: 7px;
    position: absolute;
    margin: 0;
    padding: 0;
}

.heart__btn.active svg path {
    fill: #A18CD1;
}

@media (min-width: 1250px) {
    .heart__btn:hover svg path {
        fill: #FBC2EB;
    }
}

.heart__btn svg path {
    height: 25px;
    fill: #c6c1c1;
    transition: fill 0.2s;
}

.product-card {
    padding: 10px 5px!important;
}

.product-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 55px;
    width: 100%;
    padding: 5px 10px;
}

.product-card-old-price {
    width: 100%;
    font-family: 'gilroyMedium';
    font-size: 14px;
    line-height: 19px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration-line: line-through;
    color: #000000;
}

.product-card-price {
    width: 100%;
    font-family: 'gilroySemiBold';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #000000;
}

.price-red {
    color: #A90707;
}

.product-card-buy-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
}

.product-card-buy-btn {
    height: 80%;
    width: 90%;
    background: linear-gradient(
            90deg
            , #FF0844 0%, #FFB199 100%);
    border-radius: 15px;
    border-color: transparent;
    border-style: hidden;
    display: block;
    color: white;
    font-size: 15px;
    line-height: 12px;
    font-family: 'gilroyMedium';
    padding: 0;
}

@media (max-width: 767px) {
    .product-card-buy-btn {
        font-size: 12px;
    }
    .product-card-price {
        font-size: 14px;
    }
}

.product-card-price-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}
