@media (min-width: 1200px) {
    .col-lg-3 .name-sel {
        min-height: 68px;
        font-size: 15px;
    }

    .col-lg-3 .about-bestsel {
        padding: 20px 5px;
    }
    .in-in-left{
        position: relative;
        overflow-y: auto;
        max-height: 258px;
        overflow-x: hidden;
    }
}

@media (max-width: 1289px) {
    .filter__status-text-btn {
        font-size: 12px !important;
    }
}

@media (max-width: 1150px) {
    .filter__status-text-btn {
        font-size: 10px !important;
        line-height: 22px;
    }
}

@media screen and (max-width: 767px) {
    .in-in-left{
        position: relative;
        overflow-y: auto !important;
        max-height: 260px;
        overflow-x: hidden !important;
    }
    .heart__btn svg {
        height: 20px;
    }
}

@media (max-width: 599px) {
    .filters__selector label span:before {
        display: flex !important;
    }
}

footer .hide-block {
    display:none;
}

.checkbox_color + label.mydisabled::before {
    opacity: 0.3;
}

.filter-btn-loader {
    width: 100% !important;
    height: 37px !important;
    position: absolute !important;
    background-color: white !important;
    opacity: 0.7 !important;
    display: none;
    background-position: 62% 38%;
    padding: 0;
}

.mydisabled {
    opacity: 0.3;
}
.filter__select,
.filter__selected {
    display: flex;
    border-top: 1px solid rgba(200,200,200, .4);
    border-left: 1px solid rgba(200,200,200, .4);
    border-right: 1px solid rgba(200,200,200, .4);
}

.filter__displayed {
    position: sticky;
    z-index: 11;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px 0;
}

.filter-reset-container {
    position: relative;
    z-index: 0;
}

.filter-reset-btn,
.filter__disabled-reset-btn{
    position: relative;
    z-index: 2;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background-color: #d32b48;
    border: none;
    color: white;
}
.filter-reset-btn:focus,
.filter-reset-btn:active {
    outline: none;
}
.filter-reset-tooltip {
    display: none;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d32b48;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.filter-reset-tooltip::after {
    content: "";

    display: block;
    border: 5px solid transparent;
    border-top: 5px solid #d32b48;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.filter-reset-btn:not(.filter__disabled-reset-btn):hover + .filter-reset-tooltip{
    display: block;
}
.filter__disabled-reset-btn{
    background-color: #ebd1d1;
    cursor: default;
}
.filter__disabled-reset-btn::before,
.filter__disabled-reset-btn::after{
    cursor: default;

}
.filter-reset-btn::after,
.filter__disabled-reset-btn::before,
.filter-reset-btn::before,
.filter__disabled-reset-btn::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    width: 3px;
    height: 20px;
    background-color: white;
}
.filter-reset-btn::before,
.filter__displayed-reset-btn::before{
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.filter__status-text-btn{
    padding: 7px 10px;
    background-color: #ff5e5e;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: center;
    border: none;
    width: 80%;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    height: 36px;
}
.filter__status-text-btn:active,
.filter__status-text-btn:focus {
    outline: none;
}

.filter__status-text-btn span:first-child,
.filter__status-text-btn span:first-child{
    text-transform: uppercase;
    margin-bottom: 2px;
    margin-right: 4px;
}

.filters .checkbox.disabled input + span {
    opacity: 0.3;
}
.lds-ring-container-first {
    text-align: center;
    width: 100%;
}
.lds-ring-container {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    /* TODO - позиционирование*/
    top: 515px;
    left: 5px;
}
.lds-ring {
    display: inline-block;
    position: relative;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lds-ring--settings {
    width: 23px;
    height: 23px;
}

.lds-ring--settings div {
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-color: #ff5e5e transparent transparent transparent;
}
.lds-ring-container-lazyload {
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 30%;
}
.lds-ring--lazyload {
    width: 40px;
    height: 40px;
}

.lds-ring--lazyload div {
    width: 40px;
    height: 40px;
    border: 3px solid;
    border-color: #ff5e5e transparent transparent transparent;
}

@media screen and (max-width: 767px) {
    .lds-ring {
        display: inline-block;
    }
    .lds-ring--settings {
        width: 23px;
        height: 23px;
        margin-right: 15px;
    }
    .in-in-left{
    	position: relative;
        overflow-y: auto !important;
    	max-height: 260px;
    	overflow-x: hidden !important;
    }
    .lds-ring-container-lazyload {
        top: 25%;
    }
}

.lds-ring--button {
    width: 64px;
    height: 64px;
}

.lds-ring--button div {
    width: 55px;
    height: 55px;
    border: 6px solid;
    border-color: #ff5e5e transparent transparent transparent;
}

.checkbox_size + label:before {
    bottom: 0;
    margin: auto;
}

.storage_search {
    height: 45px;
    background: #fff url(/local/templates/respect/img/search.png) no-repeat 95% 50%;
    outline: 0;
    border: 1px solid rgba(200,200,200, .3);
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
}

.storages-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.storages-list p {
    margin: 0;
}

.filter__main-list,
.filter__type-list,
.filter__product-list {
    list-style: none;
    position: relative;
}

.filter__main-list {
    padding-left: 15px;
}

.filter__product-list {
    padding-left: 25px;
}

.filter__type-list {
    padding-left: 0;
}

.filter__product-list::before {
    content: "";
    width: 1px;
    height: calc(100% - 8px);
    display: block;
    position: absolute;
    top: -13px;
    left: 10px;
    background-color: rgba(200,200,200, .4);
}

.filter__product-list li::before {
    content: '';
    display: block;
    background-color: rgba(200,200,200, .4);
    width: 15px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}

.filter__main-list li ,
.filter__type-list li,
.filter__product-list li {
    position: relative;
    width: 80%;
}

.filter__main-list li:last-child .name-h3 {
    padding-bottom: 0;
}

.in-in-left .in-in-left  {
    padding: 0;
}

.in-in-left .name-h3{
    margin: 0 -30px 0 0;
    padding-left: 0;
    width: auto;
    background: transparent;
}

.filter__form .scroll-wrapper > .scroll-content {
    max-height: 250px
}

.max-height-400 {
    max-height: 400px !important;
}

.filter__main-list .plus,
.filter__main-list .minus {
    width: 16px;
    height: 16px;
    right: auto;
    left: 150px;
}

.filter__main-list .name-h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.type_izd {
    max-height: none!important;
}

.card__icons {
    margin-bottom: 5px;
    position: absolute;
    bottom: 72px;
    z-index: 9;
    width: 100%;
}

.card__props_icons {
    display: inline-block;
}

.card__delivery_icons {
    display: inline-block;
    float: right;
}

.card__icons img {
    height: 24px;
}

.icon__tooltip {
    position: absolute;
    width: max-content;
    max-width: 250px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
    border: 0;
    border-radius: 10px;
    bottom: 40px;
    font: normal 13px/20px gothic,arial;
    padding: 15px;
    z-index: 10;
    color: #4e4e4e;
    font-family: 'firalight';
    display: none;
}

.card__props_icons .icon__tooltip {
    left: 0px;
}

.card__delivery_icons .icon__tooltip {
    right: 0px;
}

@media (min-width: 768px) {
    .props_icon_img:hover + .icon__tooltip {
        display: block;
    }
}

@media (max-width: 767px) {
    .card__icons {
        bottom: 127px;
        margin-bottom: 0px;
    }
}

.page-massage.recomendation {
    font-size: 18px;
    font-weight: 600;
}


@media (max-width: 992px) {
    .filter__displayed {
        display: none;
    }
}

.filter__type-item {
    width: 100%!important;
    padding-right: 0;
}

.filter__type-item a {
    padding-right: 0;
}

.cards__item {
    order: 2;
    display: flex;
    padding-right: 7px;
    padding-left: 8px;
    width: 25%;
}
.cards__item:nth-child(1) .card,
.cards__item:nth-child(2) .card,
.cards__item:nth-child(3) .card,
.cards__item:nth-child(4) .card{
    border-top: 1px solid #e4e4e4;
}

.cards__item--banner {
    width: 50%;
}

.cards--big .cards__item {
    width: 50%;
}

.cards--big .cards__item:first-child {
    order: 0;
}

.cards--big .cards__item--banner {
    order: 1;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border-bottom: 1px solid #e4e4e4;
}

.card__img {
    display: block;
    margin: 1.4em 0 30px 0;
    position: relative;
    text-decoration: none !important;
    border: none !important;
}

.card__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 250px;
    background-color: white;
}

.card__img-pic {
    color: transparent;
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

.card__info {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0 .3125em;
    padding-top: 30px;
    height: 120px;
}

.card__title {
    padding-bottom: 0px;
    color: #4e4e4e;
    font-family: 'firalight';
    font-size: .9375em;
    margin: 0;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
}

.card__meta {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
}

.card__cart {
    display: inline-block;
    margin-left: auto;
    width: 1.25em;
}

.card__cart-icon {
    display: block;
    width: 100%;
}

.card__prices {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card__price {
    color: #4e4e4e;
    font-family: 'firabold';
    font-size: 1.0625em;
}

.card__price--discount {
    color: #cd1030;
}

.card__discount {
    color: #cd1030;
    font-size: 13px;
    font-family: 'firabold';
    display: inline-block;
    margin: 0 5px;
}

.card__price-old {
    font-size: 16px;
    color: #b8b4b4;
    font-family: 'firabold';
    text-decoration: line-through;
    white-space: nowrap;
}

.filter-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1em;
}

.filter-toggle__icon {
    align-items: center;
    display: flex;
    height: 1.25em;
    margin-right: .9375em;
    width: 1.25em;
}

.filter-toggle__icon-pic {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.filter-toggle__icon-pic--show {
    display: none;
}

.filter-toggle--hidden .filter-toggle__icon-pic--show {
    display: block;
}

.filter-toggle--hidden .filter-toggle__icon-pic--hide {
    display: none;
}

.filter-toggle__text {
    color: #4e4e4e;
    font-family: 'firalight';
}

.filter-toggle__text--show {
    display: none;
}

.filter-toggle--hidden .filter-toggle__text--show {
    display: inline;
}

.filter-toggle--hidden .filter-toggle__text--hide {
    display: none;
}

.filter-toggle:hover .filter-toggle__text {
    text-decoration: underline;
}

.sort {
    align-items: baseline;
    display: flex;
    font-size: 1em;
}

.sort--lk {
    flex-direction: column;
}

.sort__title {
    color: #4e4e4e;
    font-family: 'firalight';
    margin-right: 1.5625em;
}

.sort__items {
    align-items: baseline;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.sort__item {
    margin-left: .9375em;
}

.sort__item:first-child {
    margin-left: 0;
}

.sort__text {
    color: #b8b4b4;
    cursor: pointer;
}

.sort__text--active {
    color: #ff5e5e;
}

.sort__text:hover {
    color: #ff5e5e;
    text-decoration: underline;
}

.sort__text--active:hover {
    text-decoration: none;
}

.view {
    align-items: center;
    display: flex;
    font-size: 20px;
}

.view__item {
    cursor: pointer;
    color: #b8b4b4;
    line-height: 0;
    margin-left: 10px;
}

.view__item:first-child {
    margin-left: 0;
}

.view__item--active {
    color: #ff5e5e;
}

.view__item:hover {
    color: #ff5e5e;
}

.view .view__item-icon--device {
    display: none;
}

.view__item-icon--square:before {
    background-color: currentColor;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
}

.cards__box {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-right: -7px;
    margin-left: -8px;
}

.cards__banner {
    width: 100%;
    margin-top: 20px;
}

.stock-banner__wrapper {
    position: relative;
}

.stock-banner--internal {
    display: none;
}

.stock-banner--external {
    display: block;
    margin-bottom: 15px;
}

.stock-banner__img {
    width: 100%;
    z-index: 1;
}

.stock-banner__link {
    position: absolute;
    z-index: 2;
}

.banner {
    width: 100%;
}

.banner__img {
    display: block;
    width: 100%;
}

.catalog {
    padding-bottom: 3.125em;
}

.catalog__banner {
    display: none;
    margin: 1.875em 0;
}

.catalog__content {
    display: flex;
}

.catalog__content-col {
    flex-grow: 1;
}

.catalog__content-col--sidebar {
    transition: all .15s;
}

.catalog__content .catalog__content-col--hidden {
    box-sizing: border-box;
    flex-grow: 0;
    overflow: hidden;
    padding: 0;
    width: 0;
}

.catalog__settings {
    align-items: center;
    display: flex;
    font-size: 16px;
    margin-bottom: 1.875em;
}
@media(max-width: 990px){
    .catalog__settings {
        margin-bottom: 2em;
    }
}

.catalog__settings-col--left {
    line-height: 0;
}

.catalog__settings-col--middle {
    display: none;
}

.catalog__settings-line {
    align-items: center;
    display: flex;
}

.catalog__filter-toggle {
    display: inline-flex;
}

.catalog__filter-toggle--device {
    display: none;
}

.catalog__sort-select {
    max-width: 100%;
    padding: 10px;
}

.catalog__view {
    margin-left: auto;
}

.catalog__cards  {
    font-size: 16px;
}

.catalog__navigation {
    margin-top: 3.125em;
}

.catalog__navigation .after-all-in-right-catalog {
    padding: 0;
}

.catalog__navigation .navigation-row {
    margin-top: 0;
}

.catalog .in-left-catalog--first {
    margin-top: 0;
}

.catalog .in-left-catalog--last {
    border-bottom: 1px solid rgba(200,200,200, .4);
}

@media (max-width: 1279px) {
    .cards__item {
        order: 2;
        width: 33.33333333333333%;
    }

    .cards__item:nth-child(4) .card{
        border: none;
        border-bottom: 1px solid #e4e4e4;
    }

    .cards__item:first-child {
        order: 0;
    }

    .cards__item--banner {
        order: 1;
        width: 66.66666666666667%;
    }

    .cards--big.cards__item--banner {
        width: 100%;
    }

    .catalog__settings {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    .cards__banner {
        margin-top: 0;
    }

    .sort__title {
        margin-right: .9375em;
    }

    .view .view__item-icon--desktop {
        display: none;
    }

    .view .view__item-icon--device {
        display: inline-block;
        padding: 8px;
        background-color: #f9f9f9;
        border-radius: 5px;
    }

    .cards__item {
        width: 50%;
    }

    .cards__item:nth-child(3) .card{
        border: none;
        border-bottom: 1px solid #e4e4e4;
    }

    .cards__item--banner {
        display: none;
    }

    .cards--big .cards__item {
        width: 100%;
    }

    .catalog__banner {
        display: block;
    }

    .catalog .catalog__settings-col {
        width: auto;
    }

    .catalog .catalog__settings-col--left {
        margin-right: 1.875em;
        padding-right: 0;
    }

    .catalog .catalog__settings-col--middle {
        padding-right: 0;
        padding-left: 0;
    }

    .catalog .catalog__settings-col--right {
        margin-left: auto;
        padding-left: 0;
    }

    .catalog__filter-toggle--desktop {
        display: none;
    }

    .catalog__filter-toggle--device {
        display: inline-flex;
        background-color: #ff5e5e;
        padding: 8px;
        font-size: 18px;
        border-radius: 5px;
    }
    .catalog__filter-toggle--device .filter-toggle__text--mobile {
        color: #ffffff;
        margin: 0 0.3em 0 0.5em;
    }
    .catalog__filter-toggle--device .filter-toggle__icon {
        margin-right: 0;
        width: 20px;
        height: 20px;
    }

    .catalog__view {
        margin-left: 1.875em;
    }

    .catalog__content-col--sidebar {
        display: none;
    }
    .filter {
        position: fixed !important;
        top: 0;
        left: 0;
        height: 100vh;
        min-width: 325px;
        padding: 0 0 150px !important;
        background-color: #f3f3f3;
        overflow: auto;
        z-index: 99999999999;
    }
    .filter__wrapper .cls-blue-menu {
        position: fixed !important;
        top: 0;
        left: 275px;
        display: block;
    }
    .filter__form {
        margin-top: 45px;
    }
}

.catalog__sort--mobile {
    display: none;
    text-align: center;
    margin-bottom: 40px;
}

.catalog-sort--mobile-icon {
    display: none;
}

.catalog-sort--mobile-icon.active svg path {
    fill: #ff5e5e;
}

.catalog-sort--show {
    display: block;
}

.catalog-change-image.active .arrow-top {
    fill: #ff5e5e;
}

.catalog-change-image.active .boot {
    fill: #b8b4b4;
}

.catalog-change-image.active .arrow-bottom {
    fill: #b8b4b4;
}

@media (max-width: 767px) {
    .js-filter-col {
        width: 100% !important;
    }

    .js-filter-wrapper .cls-blue-menu {
        left: auto;
    }

    .filters__bottom {
        height: 80px;
    }

    .card__title {
        order: 4;
        border: none;
        color: #000000;
        min-height: 0;
        height: 60px;
        max-height: 80px;
        padding-bottom: 0px;
    }

    .cards__item {
        width: 49%;
    }
    .cards__box {
        justify-content: space-between;
    }
    .card__info {
        border-top: none;
        position: relative;
    }

    .cards--big .card__title {
        display: block;
        min-height: 0;
    }

    .cards--big .card__meta {
        margin-top: 1.25em;
    }

    .catalog__settings-col--middle {
        display: block;
        max-width: 41%;
    }

    .catalog__sort--desktop {
        display: none;
    }

    .catalog__view {
        margin-left: 0;
    }

    .product-page .info-- {
        padding-left: 5px;
        padding-right: 5px;
    }

    .catalog-sort--mobile-icon {
        display: block;
    }
}

.free-delivery {
    height: 33px;
    background-color: transparent;
    border: none;
    z-index: 10;
    left: 12%;
    transform: translate(-50%, -50%);
}

.btn-div {
    position: absolute;
    bottom: 85px;
    width: 100%;
}