#subscribe-form > .error {
    margin: 0 0 10px 0;
}
input#EMAIL.red_border_sub {
    border: 1px solid red !important;
}
#subscribe-message {
    pointer-events: auto;
}
#subscribe-message a {
    color: #fd7778;
    transition: opacity 300ms;
}
#subscribe-message a:hover {
    opacity: 0.8;
}

.surprise-banner {
    background: transparent!important;
    padding: 0!important;
}

.surprise-banner .mailsender {
    position: absolute;
    display: block;
    bottom: 10%;
    right: 1%;
    width: 52%;
}

@media screen and (max-width: 767px) {
    .surprise-banner .mailsender {
        bottom: 1%;
    }
    .promocode-wrapper {
        height: 45px;
    }
    .surprise-banner .popup__wrapper {
        padding-top: 45px;
    }
}

.surprise-banner .mailsender input[type="submit"] {
    margin-top: 5px;
}

.subscribe-message {
    color: greenyellow;
    font-weight: bold;
    text-align: center;
}

.promocode-wrapper {
    width: 100%;
    height: 60px;
    border: 2px dashed #D11E0F;
    font-size: 25px;
    line-height: 30px;
    color: #D11E0F;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
}

.error {
    color: red;
}