.feedback-form-element {
    background: #fffafa;
    border: 1px solid rgba(200, 200, 200, 1);
    font-family: 'gilroyRegular';
    font-size: 16px;
    padding: 12px 20px;
    margin-bottom: 20px;
    width: 100%;
}

.feedback-form {
    margin: 35px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.haveOrder-wrapper {
    width: 100%;
}

.haveOrder {

}

.feedback-form-submit {
    background-color: #654670;
    border: 1px solid rgba(200, 200, 200, .5);
    color: #fefefe;
    cursor: pointer;
    font-family: 'gilroyRegular';
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 20px;
    outline: 0;
    text-transform: uppercase;
    width: 50%;
}

.haveOrder-input-label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'gilroyRegular';
    color: #8e8787;
    text-align: start;
}

.haveOrder-closed {
    display: none;
    width: 100%;
}

.haveOrder-input:checked + .haveOrder-input-label:before {
    background: url(/local/templates/respect/css/../img/checkbox-checked.png);
}

.haveOrder-input + .haveOrder-input-label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    background: url(/local/templates/respect/css/../img/checkbox.png);
}