.tooltip-window::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: rgba(234, 223, 223, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transform: rotate(45deg);
    top: -13px;
    border-left: 1px solid rgba(0, 0, 0, .16);
    border-top: 1px solid rgba(0, 0, 0, .16);
    left: 33%;
}

.geoposition__lists-wrapper {
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px) {
    .geoposition {
        width: 60%;
    }
}

@media (min-width: 991px) {
    .geoposition {
        width: 50%;
    }

    .geoposition__form {
        width: 80%;
    }
}

@media (max-width: 991px) {
    .tooltip-window::after {
        left: 28.8%;
    }
}

@media (min-width: 1251px) {
    .tooltip-window::after {
        left: 44.5%;
    }
}

@media (min-width: 1280px) {
    .geoposition {
        width: 38%;
    }

    .tooltip-window::after {
        left: 44.5%;
    }
}

@media (max-width: 767px) {
    .geoposition__heading {
        font-size: 38px;
        line-height: 1;
    }

    .user-region {
        display: none;
    }

    .tooltip-window {
        top: 49px;
        left: 0;
        width: 100%;
    }

    .geoposition {
        width: 100%;
    }

    .geoposition__form {
        width: 100%;
    }

    .tooltip-window::after {
        left: 17px;
        top: -8px;
        width: 15px;
        height: 15px;
        left: 17px;
    }

    ul.country_list {
        flex-direction: column;
    }
}

.user-region {
    font-family: 'gilroySemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    padding-right: 8px;
    color: #9B9B9B;
}

.current-locality {
    font-family: 'gilroyBold';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.geoposition {
    display: none;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    font-family: 'gilroyRegular';
    justify-content: center;
    align-items: center;
    padding: 30px 15px 15px;
    right: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(
            90deg, rgba(234, 223, 223, 0.8) 59%, rgba(236, 226, 223, 0.8) 100%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 50;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
}

.geoposition:after {
    display: none;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    font-family: 'gilroyRegular';
    justify-content: center;
    align-items: center;
    padding: 30px 15px 15px;
    right: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(
            90deg, rgba(234, 223, 223, 0.8) 59%, rgba(236, 226, 223, 0.8) 100%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 50;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
}

.geoposition__heading {
    display: block;
    font-size: 40px;
    line-height: 40px;
    font-family: 'gilroySemiBold';
    color: #000000;
    text-align: center;
    margin-bottom: 50px;
}

.geoposition__input-field {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    font-family: gilroyRegular;
    padding: 10px 20px;
    background: #fff5f7;
    border: 1px solid #d8d8d8;
    margin-bottom: 15px;
}

.geoposition__default-cities {
    color: black;
    margin: 15px 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}


.geoposition__buttons {
    display: flex;
    justify-content: flex-end;
}

.geoposition__button {
    font-size: 18px;
    font-family: 'gilroyRegular';
    width: 48%;
    height: 100%;
    padding: 10px;
    color: #000000;
    border-radius: 5px;
    text-align: center;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
}

@media (max-width: 767px) {
    .geoposition__button {
        font-size: 13px;
    }
}

#geoposition_error {
    color: red;
    text-align: center;
}

.tooltip-window {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 350px;
    background: rgba(234, 223, 223, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
    padding: 20px 24px;
    top: 58px;
    cursor: default;
}

.tooltip-window__text {
    text-align: center;
    white-space: normal;
    font-family: 'gilroyRegular';
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    color: #000000;
}

.tooltip-window__city {
    color: #000000;
    text-align: center;
    width: 50%;
    font-family: 'gilroySemiBold';
    font-size: 30px;
    line-height: 36px;
    padding: 18px 0;
}

.tooltip-window__controls {
    display: flex;
}

.tooltip-window__button {
    display: flex;
    align-items: center;
    color: #000000;
    font-family: 'gilroyMedium';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: 0;
    outline: 0;
    margin: 0 10px;
    padding: 0 10px;
    cursor: pointer;
    height: 47px;
}

.tooltip-window__button--ok {
    background: #FFFFFF;
    border-radius: 5px;
}

.tooltip-window__button--no {
    background: #FFFFFF;
    border-radius: 5px;
}

.geoposition__city {
    height: 46px;
    word-break: break-word;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.geoposition__list {
    padding-left: 0;
    list-style: none;
    width: 33.3%;
}

.geoposition__list:nth-child(1) {
    text-align: left;
}

.geoposition__list:nth-child(2) {
    text-align: center;
}

.geoposition__list:nth-child(3) {
    text-align: right;
}

@media (max-width: 767px) {
    .geoposition__list {
        width: 100%;
        margin-bottom: 0;
    }

    .geoposition__city {
        width: 100%;
        font-size: 13px;
    }

    .tooltip-window {
        top: 49px;
        left: 0;
        width: 100%;
    }
}


.geoposition__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin: 15px 0;
}


.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-radius: 0 !important;
    padding: 8px 20px;
    font-size: 16px;
    min-height: 44px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}

ul.country_list {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
}

ul.country_list > li {
    margin-bottom: 15px;
    flex-basis: auto;
    flex-grow: 1;
    font-weight: bold;
    font-size: 17.5px;
}

ul.country_list > li > a {
    color: #000000;
    text-decoration: none;
}

div.country_container > hr {
    margin-bottom: 15px;
    border: none;
    margin-top: 0;
    color: #AAAAAA;
    background-color: #AAAAAA;
    height: 1px;
}

