.tooltip-window::after
{
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #fff;
    transform: rotate(45deg);
    top: -13px;
    border-left: 1px solid rgba(0,0,0,.16);
    border-top: 1px solid rgba(0,0,0,.16);
    left: 33%;
}

.geoposition__lists-wrapper {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px)
{
    .geoposition__lists-wrapper {
        display: flex;
        flex-direction: row;
    }
    .geoposition
    {
        width: 60%;
    }
}

@media (min-width: 991px)
{
    .geoposition
    {
        width: 50%;
    }

    .geoposition__form
    {
        width: 80%;
    }
}

@media (max-width: 991px) {
    .tooltip-window::after
    {
        left: 28.8%;
    }
}

@media (min-width: 1251px) {
    .tooltip-window::after
    {
        left: 44.5%;
    }
}

@media (min-width: 1280px)
{
    .geoposition
    {
        width: 38%;
    }
    .tooltip-window::after
    {
        left: 44.5%;
    }
}

@media(max-width: 767px)
{   
    .geoposition__heading
    {
        font-size: 38px;
        line-height: 1;
    }

    .user-region
    {
        display: none;
    }

    .tooltip-window
    {
        top: 49px;
        left: 0;
        width: 100%;
    }

    .geoposition
    {
        width: 100%;
    }

    .geoposition__form
    {
        width: 100%;
    }

    .tooltip-window::after
    {
        left: 17px;
        top: -8px;
        width: 15px;
        height: 15px;
        left: 17px;
    }

    ul.country_list {
        flex-direction: column;
    }
}

.user-region
{
    padding-right: 8px;
}

.geoposition
{
    display: none;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    font-family: firalight;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 15px;
    right: 0;
    left: 0;
    position: absolute;
    background-color: #fff5f7;
    z-index: 50;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
}

.geoposition__heading
{
    display: block;
    font-size: 40px;
    line-height: 40px;
    font-family: 'vollkornsemibold';
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 50px;
}

.geoposition__input-field
{
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    font-family: firalight;
    padding: 10px 20px;
    background: #fff5f7;
    border: 1px solid #d8d8d8;
    margin-bottom: 15px;
}

.geoposition__link
{
    display: block;
    font-weight: 600;
    color: #337ab7;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.geoposition__default-cities
{
    color: #4e4e4e;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 17.5px;
}


.geoposition__buttons
{
    display: flex;
    justify-content: flex-end;
}

.geoposition__button
{
    font-size: 16px;
    font-family: 'firaregular';
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.geoposition__button--ok
{
    background-color: #ff5e5e;
    margin-bottom: 15px;
}

#geoposition_error
{
    color: red;
    text-align: center;
}

.tooltip-window
{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 350px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    background: #fff;
    padding: 20px 24px;
    top: 58px;
    left: 26px;
    cursor: default;
}

.tooltip-window__text
{
    text-align: center;
    white-space: normal;
    line-height: 24px;
    margin: 0;
}

.tooltip-window__city
{
    text-align: center;
    width: 50%;
    font-family: vollkornsemibold;
    font-size: 22px;
    line-height: 22px;
    padding: 18px 0;
}

.tooltip-window__controls
{
    display: flex;
}

.tooltip-window__button
{
    text-transform: uppercase;
    color: white;
    font-family: 'firaregular';
    font-size: 16px;
    text-align: center;
    border: 0;
    outline: 0;
    margin: 0 10px;
    padding: 0 10px;
    cursor: pointer;
}

.tooltip-window__button--ok
{
    background-color: #ff5e5e;
}

.tooltip-window__button--no
{
    background-color: none;
    color : #ff5e5e;
}
.geoposition__city {
    margin-bottom: 15px;
    padding-right: 5px;
    word-break: break-word;
    cursor: pointer;
}

.geoposition__list {
    padding-left: 0;
    list-style: none;
    width: 33.3%;
}

@media (max-width: 768px)
{
    .geoposition__list {
        width: 100%;
        margin-bottom: 0;
    }
    .geoposition__city {
        width: 100%;
    }
    .tooltip-window
    {
        top: 49px;
        left: 0;
        width: 100%;
    }
}

@media (min-width: 991px) {
    .geoposition__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .geoposition__button--ok {
        margin-top: 15px;
        width: 50%;
    }
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 0px!important;
    padding: 8px 20px;
    font-size: 16px;
    min-height: 44px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px!important;
}

ul.country_list {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
}

ul.country_list > li {
    margin-bottom: 15px;
    flex-basis: auto;
    flex-grow: 1;
    font-weight: bold;
    font-size: 17.5px;
}

ul.country_list > li > a {
    color: #4e4e4e;
    text-decoration: none;
}

div.country_container > hr {
    margin-bottom: 15px;
    border: none;
    margin-top: 0;
    color: #AAAAAA;
    background-color: #AAAAAA;
    height: 1px;
}