.cart-city-input {
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: inherit;
    display: block;
}
