.catalog-banner {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border: 1px solid #F6F6F6;
    border-bottom: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog-banner:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(231,56,39,0);
    background: -moz-linear-gradient(top, rgba(231,56,39,0) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,56,39,0)), color-stop(100%, rgba(0,0,0,0.7)));
    background: -webkit-linear-gradient(top, rgba(231,56,39,0) 0%, rgba(0,0,0,0.7) 100%);
    background: -o-linear-gradient(top, rgba(231,56,39,0) 0%, rgba(0,0,0,0.7) 100%);
    background: -ms-linear-gradient(top, rgba(231,56,39,0) 0%, rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom, rgba(231,56,39,0) 0%, rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#000000', GradientType=0 );
}
.catalog-banner__text {
    display: block;
    font-weight: 500;
    font-size: 1.75rem;
    color: white;
    position: absolute;
    left: 0;
    bottom: 20%;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;

}
.catalog-banner__text:after {
    content: '>>>';
    margin-left: 15px;
}
@media (min-width: 600px) {
    .catalog-banner {
        padding-top: 325px;
    }
}