.center-footer-element {
    font-size: 13px;
    font-family: 'gilroyRegular';
    text-decoration: none;
    text-underline: none;
    color: #FFFFFF;
}

.center-footer-element:hover {
    text-decoration: none;
    text-underline: none;
    color: #16304E;
}

@media (max-width: 992px) {
    .center-footer-element:hover {
        color: #FFFFFF;
    }
}
