.social-element-text {
    text-underline: none;
    margin-left: 20px;
    font-size: 13px;
    font-family: 'gilroyMedium';
}

@media (max-width: 767px) {
    .social-element-text {
        margin-left: 5px;
    }
}
