.shop-google-map.full-width {
    width: 100%;
}
.shop-photo-slider {
    text-align: center;
}

.shop-header {
    line-height: 1.5;
    background-color: #ffffff;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-header .shop-card__title {
    text-transform: uppercase;
    font-size: 1em;
}

@media (max-width: 599px) {
    .shop-header .column-md-2 + .column-md-2 {
        margin-top: 1rem;
    }
}

.shop-photo-slider {
    position: relative;
}

.shop-photo-slider .slick-arrow {
    position: absolute;
    z-index: 5;
    /*top: 0;*/
    /*bottom: 0;*/
    background-position: center;
    height: 98%;
    width: 10%;
    text-align: center;
    background-color: rgba(150, 193, 230, 0.3);
    cursor: pointer;
}

.shop-photo-slider .slick-arrow:hover {
    background-color: rgba(150, 193, 230, 0.4);
}

.shop-photo-slider .slick-arrow:after {
    color: #ffffff;
    font-size: 1.7rem;
}

.shop-photo-slider .slick-arrow.slick-prev {
    left: 0;
}

.shop-photo-slider .slick-arrow.slick-next {
    right: 0;
}

.shop-photo-slider .slick-list {
    padding: 0 !important;
}

.shop-photo-slider .slick-slide {
    background-color: #000000;
    outline: 5px solid #ffffff;
    position: relative;
}

.shop-photo-slider .slick-slide img {
    transition: opacity 1s linear;
    opacity: 0.5;
    max-height: 25rem;
}

.shop-photo-slider .slick-slide.slick-center {
    z-index: 1000;
}

.shop-photo-slider .slick-slide.slick-center img {
    opacity: 1;
}
.shop-header__item{
    width: 25%;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-header__item--phones {
    flex-direction: column;
}

.shop-header__item:last-child{
    margin: 0;
}
.icon-phone,.icon-clock{
    left: 0;
    top: 0;
    font-size: 1.2em;
    position: absolute;
}
.shop-card__phones span{
    position: relative;
    padding-left: 1.5em;
}
.shop-card__work-time span{
    position: relative;
    padding-left: 23px;
}
.shop-photo-slider .slick-arrow{

}
.slick-slider > .slick-arrow.slick-prev:after {
    content: "";
}

.shop-photo-slider .slick-arrow:after {
    color: #ffffff;
    font-size: 2rem;
}
.slick-slider > .slick-arrow.slick-next:after {
    content: "";
}

.shop-photo-slider .slick-arrow:after {
    color: #ffffff;
    font-size: 2rem;
}
.shop-maps {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-top: 5px;
}
.shop-maps .shop-google-map {
    min-width: 70%;
    position: relative;
    margin-right: 5px;
}
.shop-maps .shop-inner-map a {
    display: block;
}
.shop-maps .shop-inner-map a img {
    width: 100%;
}
.shop-maps .shop-google-map > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.shop-card__bonus--r {
    background-image: url(/local/templates/respect/images/bonus_v2.png);
}

.shop-header__container--with-bonus {
    display: flex;
    align-items: center;
}
.shop-card__bonus {
    color: white;
    font-family: 'gilroyRegular';
    font-size: 14px;
    background: #654670;
    text-transform: uppercase;
    padding: 12px 17px;
    display: block;
}
.shop-card__bonus:hover {
    color: white;
}
.shop-card__bonus--f {
    cursor: pointer;
}
.shop-card__work-time {
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.shop-card__phones {
    display: flex;
}
@media (max-width: 767px) {
    .shop-header__item {
        width: 100%;
        margin-bottom: 10px;
    }
    .shop-header__container--with-bonus {
        flex-direction: column;
    }
    .shop-card__work-time {
        width: 100%;
    }
    .shop-card__wrapper {
        width: 100%;
        overflow: hidden;
    }
}
