.blue {
    color: #000000;
    font-family: 'gilroyMedium';
    font-size: 16px;
    margin-bottom: 0px !important;
    cursor: pointer;
    width: 100%;
}

.blue img {
    float: right;
    margin: 2% 0;
}
.active-blue img {
    float: right;
    margin: 2% 0;
}

.active-blue {
    color: #654670 !important;
    font-family: 'gilroyRegular' !important;
    border-bottom: 0 !important;
    font-size: 16px;
    margin-bottom: 0 !important;
    cursor: pointer;
    width: 100%;
}

.after-blue {
    display: none;
    padding: 0 !important;
}

.arr-up {
    width: 10px;
    height: 10px;
    border: 8px solid transparent;
    border-bottom: solid 14px rgba(0, 0, 0, 0.5);
    display: none;
    margin-bottom: 8px;
}

.arr-down {
    display: block;
    width: 10px;
    height: 10px;
    border: 8px solid transparent;
    border-top: 14px solid rgba(0, 0, 0, 0.5);
}

.infopage-block {
    text-align: center;
    padding-top: 15px;
}

.infopage-block span {
    font-size: 16px;
}

.infopage-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px !important;
    font-family: 'gilroyRegular';
    line-height: 30px;
    color: #000000;
    margin-top: 25px;
}

@media (max-width: 767px) {
    .infopage-section {
        margin-top: 15px;
    }
}