.clb { width: 0px; height: 0px;   visibility: hidden; clear: both; }
.icon,
.selectize-control.multi .selectize-input:after,
.selectize-control.single .selectize-input:after,
.slick-slider > .slick-arrow,
.breadcrumbs li:not(:first-child):before,
form .input-group--calendar:after,
label.checkbox > span:before,
label.checkbox > span .input__color,
label.radio > span:before,
label.radio > span .input__color,
.input-group--phone:before,
.vacancy--dropdown > header:after,
.dropdown-toggle:after,
.navigation .navigation-toggler,
.filters-toggle:after,
.filters-reset:after,
.cart-item__toggle:before,
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0 15px;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  padding: 0 15px;
}

.slider .main {
  padding: 0 30px;
}

#main-slider .slick-list {
  padding: 0!important;
}

#main-slider .slick-list .slick-track {
  padding: 0!important;
}

.slider .main .slides .slick-prev {
  left: 20px;
  z-index: 2;
}

.slider .main .slides .slick-next {
  right: 20px;
}

.slider .main .slides .slick-arrow {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.5);
  background-position: center;
  /*opacity: 0;*/
  transition: background-color 0.3s, opacity 0.3s;
}

.slider .main .slides .slick-arrow:hover {
  background-color: rgba(237, 237, 237, 0.9);
}

.slider .slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 39.725%;
}

.slider .slides-item {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
}

.slider .slides-item img {
  height: 100%;
  width: 100%;
}

@media (max-width: 991px) {
  .slider {
    padding: 0;
  }
  .slider .slides .slick-list,
  .slider .slides .slick-track {
    padding: 0!important;
  }
}

@media (max-width: 767px) {
  .slider .slides {
    padding-top: 15rem;
  }
  
  .slider .slides-item {
    background-size: 100%;
  }

  #main-slider {
    padding-top: 0;
  }
  #main-slider .slick-track,
  #main-slider .slick-list {
    position: relative;
  }
  #main-slider .slides-item img {
    display: block;
    width: 100%;
  }

  #main-slider2 {
	display: none; /* by Anatoliy Mitrofanov 2019-01-12 */
    padding-top: 0;
  }
  #main-slider2 .slick-track,
  #main-slider2 .slick-list {
    position: relative;
  }
  #main-slider2 .slides-item img {
    display: block;
    width: 100%;
  }

  #main-slider-mob1,
  #main-slider-mob2,
  #main-slider-mob3,
  #main-slider-mob4,
  #main-slider-mob5,
  #main-slider-mob6,
  #main-slider-mob7,
  #main-slider-mob8,
  #main-slider-mob9,
  #main-slider-mob10 {
	display: none; /* by Anatoliy Mitrofanov 2019-01-12 */
    padding-top: 0;
  }
  #main-slider-mob1 .slick-track,
  #main-slider-mob1 .slick-list,
  #main-slider-mob2 .slick-track,
  #main-slider-mob2 .slick-list,
  #main-slider-mob3 .slick-track,
  #main-slider-mob3 .slick-list,
  #main-slider-mob4 .slick-track,
  #main-slider-mob4 .slick-list,
  #main-slider-mob5 .slick-track,
  #main-slider-mob5 .slick-list,
  #main-slider-mob6 .slick-track,
  #main-slider-mob6 .slick-list,
  #main-slider-mob7 .slick-track,
  #main-slider-mob7 .slick-list,
  #main-slider-mob8 .slick-track,
  #main-slider-mob8 .slick-list,
  #main-slider-mob9 .slick-track,
  #main-slider-mob9 .slick-list,
  #main-slider-mob10 .slick-track,
  #main-slider-mob10 .slick-list {
    position: relative;
  }
  #main-slider-mob1 .slides-item img,
  #main-slider-mob2 .slides-item img,
  #main-slider-mob3 .slides-item img,
  #main-slider-mob4 .slides-item img,
  #main-slider-mob5 .slides-item img,
  #main-slider-mob6 .slides-item img,
  #main-slider-mob7 .slides-item img,
  #main-slider-mob8 .slides-item img,
  #main-slider-mob9 .slides-item img,
  #main-slider-mob10 .slides-item img {
    display: block;
    width: 100%;
  }
}

.slider .slides .slick-list,
.slider .slides .slick-track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 15px;
}

.page--index .slider {
  position: initial;
  margin: 15px 0;
}

.page--index .slider__arrow {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.page--index #main-slider,
.page--index #main-slider2 {
  display: flex;
  overflow: visible;
}

.page--index #main-slider ul.slick-dots,
.page--index #main-slider2 ul.slick-dots {
  position: relative;
  width: auto;
}

.page--index #main-slider .slick-dots,
.page--index #main-slider2 .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  list-style-type: none;
}

.page--index #main-slider .slick-dots li,
.page--index #main-slider2 .slick-dots li {
  margin: 0;
  padding: 0;
}

.page--index #main-slider .slick-dots button,
.page--index #main-slider2 .slick-dots button {
  display: block;
  background-color: #ffffff;
  color: transparent;
  width: 7px;
  height: 7px;
  overflow: hidden;
  border: 2px solid #ffffff;
  box-sizing: content-box;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
}

.page--index #main-slider .slick-dots li.slick-active button,
.page--index #main-slider2 .slick-dots li.slick-active button {
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.page--index #products-slider {
  display: block;
}

.page--index .products-slider + .container {
  margin-top: 1.2rem;
}

.page--index #products-slider .column-66 ~ .column-33:nth-child(4) {
	clear: left;
}
.page--index #main-slider-mob1 {
	display: none;
}

@media (min-width: 600px) {
  .page--index .products-slider + .container {
    margin-top: 3.8rem;
  }
}

.container-get {
  background-color: #f187b7;
  padding-top: 3rem;
}

.popup {
  background: linear-gradient(90deg, rgba(234, 223, 223, 0.8) 59%, rgba(236, 226, 223, 0.8) 100%);
  box-sizing: border-box;
}

.popup.popup--size {
  min-width: 20rem;
}

.popup__wrapper {
  padding: 10px;
}

.popup-error {
  font-size: 18px;
}

@media (min-width: 600px) {
  .popup__wrapper {
    padding: 2.5rem 5rem;
  }
}

.popup__container {
  position: relative;
  z-index: 1000;
}

.popup__content > img {
  width: 100%;
}

body > .popup {
  position: fixed;
  z-index: 1000;
}

body > .popup h3 {
  font-size: 1.3rem;
  margin-bottom: 3.8rem;
}

@media (max-width: 599px) {
  body > .popup {
    min-width: 0;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    left: 0;
  }

  body > .popup .column-md-2 + .column-md-2 {
    margin-top: 2rem;
  }
}

@media (min-width: 600px) {
  body > .popup {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    min-width: 75rem;
    min-height: 12rem;
  }
  body > .popup--fast-order {
    min-width: 60rem;
  }
}

body > .popup--overflow {
  top: 2.5rem;
  /*bottom: 2.5rem;*/
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

body > .popup--overflow .popup__wrapper {
  height: 100%;
  box-sizing: border-box;
}

body > .popup--overflow .popup__container {
  /*overflow-y: auto;
  height: 100%;*/
}

@media (max-width: 599px) {
  body > .popup--overflow {
    top: 0;
    right: 0;
    /*bottom: 0;*/
    left: 0;
    -ms-transform: none;
        transform: none;
    overflow: auto;
  }
}

body > .popup--overflow .popup__toggle {
  top: 0;
  right: 0;
  -ms-transform: none;
      transform: none;
  font-size: 1.5rem;
}

.popup__header {
  font-size: 1.5em;
  color: #FD7778;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

body.with--popup {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
}

body.with--popup:after {
  content: ' ';
  display: block;
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup--feedback textarea::-webkit-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}
.popup--feedback .selectize-control.single .selectize-input {
  padding-left: 1rem;
}
.popup--feedback .selectize-control.single .selectize-input .item[data-value]:first-child {
  margin-left: 0;
}

@media (min-width: 600px) {
  body > .popup--feedback {
    font-size: 1.2em;
    min-width: 0;
  }

  body > .popup--feedback .popup__wrapper {
    padding: 4rem 5rem;
    text-align: center;
  }
}

.product-page__na {
  margin-bottom: 20px;
  padding: 15px 30px;
  background: #FFFFFF;
  color: black;
  border-radius: 15px;
  font-size: 15px;
  line-height: 18px;
  font-family: gilroyRegular;
  font-weight: 400;
  text-align: center;
}

.legend-padding {
  padding-bottom: 20px;
}

.btn-save-mailing {
  text-align: center;
  margin-bottom: 30px;
}

.btn-style-blue {
  font-family: 'gilroyRegular';
  outline: none;
  margin-top: 20px;
  border: 1px solid rgba(200,200,200, .5);
  text-transform: uppercase;
  background: #654670 !important;
  color: #ffffff !important;
}

@media (max-width: 599px) {
  .product-page__na {
    padding: 1.5rem;
  }
}
