@charset "UTF-8";

@font-face {
  font-family: "icon";
  src: url("../icons/icon.eot");
  src: url("../icons/icon.eot?#iefix") format("eot"), url("../icons/icon.woff") format("woff"), url("../icons/icon.ttf") format("truetype"), url("../icons/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Black';
  src: url('../fonts/GothamPro-Black.eot');
  src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/GothamPro-Medium.eot');
  src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans 900 Black';
  src: url('../fonts/MuseoSansCyrl-900.eot');
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.clb { width: 0px; height: 0px;   visibility: hidden; clear: both; }
.icon,
.selectize-control.multi .selectize-input:after,
.selectize-control.single .selectize-input:after,
.slick-slider > .slick-arrow,
.breadcrumbs li:not(:first-child):before,
form .input-group--calendar:after,
label.checkbox > span:before,
label.checkbox > span .input__color,
label.radio > span:before,
label.radio > span .input__color,
.input-group--phone:before,
.vacancy--dropdown > header:after,
.dropdown-toggle:after,
.navigation .navigation-toggler,
.filters-toggle:after,
.filters-reset:after,
.cart-item__toggle:before,
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-arrow-bottom:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before,
.breadcrumbs li:not(:first-child):before {
  content: "";
}
.icon-arrow-up:before {
  content: "";
}
.icon-big-tiles:before {
  content: "";
}

.icon-burger:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-envelope:before {
  content: "";
}

.icon-exclamation-circle:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-heart-filled:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-metro:before {
  content: "";
}

.icon-telegram {
  background:url('../images/teleg_line.png') 0 0 no-repeat;
  background-size:contain;
}
.icon-telegram.line {
  width:24px;
  height:24px;
}
.icon-telegram.tele-foot {
  background-size:80% 80%;
  background-position:center center;
}

.icon-octavius:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-question-circle:before {
  content: "";
}

.icon-readmore:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-small-tiles:before {
  content: "";
}

.icon-times-thin:before {
  content: "";
}

.icon-times:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-vk:before {
  content: "";
}
.icon-square-tiles:before {
  content: "■";
  font-size: 200%;
  line-height: 0;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.slider .slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 39.725%;
}

.slider .slides-item {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
}
.slider .slides-item img {
  display: none;
}

@media (max-width: 767px) {
  .slider .slides {
    padding-top: 15rem;
  }
  
  .slider .slides-item {
    background-size: 100%;
  }

  #main-slider {
    padding-top: 0;
  }
  #main-slider .slick-track,
  #main-slider .slick-list {
    position: relative;
  }
  #main-slider .slides-item img {
    display: block;
    width: 100%;
  }

  #main-slider2 {
	display: none; /* by Anatoliy Mitrofanov 2019-01-12 */
    padding-top: 0;
  }
  #main-slider2 .slick-track,
  #main-slider2 .slick-list {
    position: relative;
  }
  #main-slider2 .slides-item img {
    display: block;
    width: 100%;
  }

  #main-slider-mob1,
  #main-slider-mob2,
  #main-slider-mob3,
  #main-slider-mob4,
  #main-slider-mob5,
  #main-slider-mob6,
  #main-slider-mob7,
  #main-slider-mob8,
  #main-slider-mob9,
  #main-slider-mob10 {
	display: none; /* by Anatoliy Mitrofanov 2019-01-12 */
    padding-top: 0;
  }
  #main-slider-mob1 .slick-track,
  #main-slider-mob1 .slick-list,
  #main-slider-mob2 .slick-track,
  #main-slider-mob2 .slick-list,
  #main-slider-mob3 .slick-track,
  #main-slider-mob3 .slick-list,
  #main-slider-mob4 .slick-track,
  #main-slider-mob4 .slick-list,
  #main-slider-mob5 .slick-track,
  #main-slider-mob5 .slick-list,
  #main-slider-mob6 .slick-track,
  #main-slider-mob6 .slick-list,
  #main-slider-mob7 .slick-track,
  #main-slider-mob7 .slick-list,
  #main-slider-mob8 .slick-track,
  #main-slider-mob8 .slick-list,
  #main-slider-mob9 .slick-track,
  #main-slider-mob9 .slick-list,
  #main-slider-mob10 .slick-track,
  #main-slider-mob10 .slick-list {
    position: relative;
  }
  #main-slider-mob1 .slides-item img,
  #main-slider-mob2 .slides-item img,
  #main-slider-mob3 .slides-item img,
  #main-slider-mob4 .slides-item img,
  #main-slider-mob5 .slides-item img,
  #main-slider-mob6 .slides-item img,
  #main-slider-mob7 .slides-item img,
  #main-slider-mob8 .slides-item img,
  #main-slider-mob9 .slides-item img,
  #main-slider-mob10 .slides-item img {
    display: block;
    width: 100%;
  }
}

.slider .slides .slick-list,
.slider .slides .slick-track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page--index .slider {
  position: initial;
}

.page--index .slider__arrow {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.page--index #main-slider,
.page--index #main-slider2 {
  display: flex;
  overflow: visible;
}

.page--index #main-slider ul.slick-dots,
.page--index #main-slider2 ul.slick-dots {
  position: relative;
}

.page--index #main-slider .slick-dots,
.page--index #main-slider2 .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  list-style-type: none;
}

.page--index #main-slider .slick-dots li,
.page--index #main-slider2 .slick-dots li {
  margin: 0;
  padding: 0;
}

.page--index #main-slider .slick-dots button,
.page--index #main-slider2 .slick-dots button {
  display: block;
  background-color: #ffffff;
  color: transparent;
  width: 7px;
  height: 7px;
  overflow: hidden;
  border: 2px solid #ffffff;
  box-sizing: content-box;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
}

.page--index #main-slider .slick-dots li.slick-active button,
.page--index #main-slider2 .slick-dots li.slick-active button {
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.page--index #products-slider {
  display: block;
}

.page--index .products-slider + .container {
  margin-top: 1.2rem;
}

.page--index #products-slider .column-66 ~ .column-33:nth-child(4) {
	clear: left;
}
.page--index #main-slider-mob1,
.page--index #main-slider-mob2,
.page--index #main-slider-mob3,
.page--index #main-slider-mob4,
.page--index #main-slider-mob5,
.page--index #main-slider-mob6,
.page--index #main-slider-mob7,
.page--index #main-slider-mob8,
.page--index #main-slider-mob9,
.page--index #main-slider-mob10 {
	display: none;
}

@media (min-width: 600px) {
  .page--index .products-slider + .container {
    margin-top: 3.8rem;
  }
}

.page--bonus a.button.button--pink {
  background-color: #0a01c0;
  height: 5.385rem;
  line-height: 5.385rem;
  display: block;
  letter-spacing: 2px;
  color: #fff !important;
  position: inherit !important;
  width: auto !important;
  border: none !important;
  text-indent: inherit !important;
  font-size: 1.3rem !important;
  padding: 0 2.2em !important;
}

@media (max-width: 599px) {
  .page--bonus a.button.button--pink + a {
    margin-top: 10px;
  }
}

@media (min-width: 600px) {
  .page--bonus a.button.button--pink + a {
    margin-left: 10px;
  }
}

.page--bonus a.button.button--pink:hover {
  background-color: #0a01c0;
}

.bonus-hero {
  background-image: url(../images/bonus/bonus-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  color: #ffffff;
  text-align: center;
  padding: 2.2rem 0 2.77rem;
}

@media (min-width: 600px) {
  .bonus-hero {
    padding: 5rem 0;
    background-image: url(../images/bonus/bonus-bg.jpg);
  }
}

.bonus-hero__title {
  text-shadow: 2.385rem 1.231rem 2.769rem rgba(0, 0, 0, 0.17);
  font-size: 1.538rem;
  font-weight: 900;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .bonus-hero__title {
    font-size: 4.615rem;
    line-height: 7.692rem;
  }
}

.bonus-hero__image {
  background-image: url(../images/bonus/bonus-splash-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  padding-top: 151.25%;
  margin-bottom: -9%;
}

@media (min-width: 600px) {
  .bonus-hero__image {
    padding-top: 40.2%;
    background-image: url(../images/bonus/bonus-splash.png);
  }
}

.bonus-hero__subtitle {
  font-size: 1.538rem;
  font-weight: 900;
}

@media (min-width: 600px) {
  .bonus-hero__subtitle {
    font-size: 3.846rem;
    line-height: 6.154rem;
  }
}

.bonus-hero__buttons {
  margin-top: 3rem;
}

@media (max-width: 599px) {
  .bonus-hero__buttons {
    padding: 0 10px;
  }
}

@media (min-width: 600px) {
  .bonus-hero__buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

.container-become {
  background-color: #0a01c0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bonus-be-part {
  padding: 0 10px;
  margin-top: 3rem;
  text-align: center;
}

@media (min-width: 600px) {
  .bonus-be-part {
    max-width: 74rem;
    padding: 0;
    margin: auto;
  }
}

.bonus-be-part__title {
  color: #f187b7;
  font-size: 1.769rem;
  font-weight: 900;
}

@media (min-width: 600px) {
  .bonus-be-part__title {
    font-size: 3.846rem;
    margin-bottom: 5rem;
  }
}

.bonus-be-part__block + .bonus-be-part__block {
  margin-top: 3rem;
}

.bonus-be-part__block--numbers .bonus-be-part__block-content:before {
  content: none;
}

.bonus-be-part__block--numbers .bonus-be-part__block-content > section > * {
  position: relative;
  z-index: 2;
}

.bonus-be-part__block--numbers .bonus-be-part__block-content > section:before {
  content: '1';
  color: #f187b7;
  font-size: 17.154rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  -ms-transform: translate(-20%, -50%);
      transform: translate(-20%, -50%);
}

@media (min-width: 600px) {
  .bonus-be-part__block--numbers .bonus-be-part__block-content > section:before {
    font-size: 23.615rem;
  }
}

.bonus-be-part__block--numbers .bonus-be-part__block-content > section:last-child:before {
  content: '2';
  color: #f187b7;
}

.bonus-be-part__block-title {
  color: #f187b7;
  font-size: 1.154rem;
  font-weight: 900;
  line-height: 3.077rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: 'Gotham Pro Black';
}

@media (min-width: 600px) {
  .bonus-be-part__block-title {
    font-size: 1.538rem;
  }
}

.bonus-be-part__block-content {
  position: relative;
  color: #0a01c0;
  background-color: #fff;
  overflow: hidden;
}

@media (min-width: 600px) {
  .bonus-be-part__block-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    background-color: #fff;
  }
}

.bonus-be-part__block-content > section {
  height: 12rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0 30px;
  font-size: 1.154rem;
  font-weight: 500;
  line-height: 1.923rem;
  z-index: 2;
  overflow: hidden;
}

.bonus-be-part__block-content > section span {
  max-width: 100%;
}

@media (min-width: 600px) {
  .bonus-be-part__block-content > section {
    -ms-flex: 1;
        flex: 1;
    height: 22rem;
    font-size: 2rem;
    line-height: 2.462rem;
    padding: 0 7rem;
    color: #0a01c0;
  }
}

.bonus-be-part__block-content > section a.button.button--pink {
  display: block;
/*  max-width: 100%; by Anatoliy Mitrofanov 2019-01-27 */
  width: 100%;
/*  padding: 0;*/
  height: 3.846rem;
  line-height: 3.846rem;
  margin-top: 20px;
  font-size: 1rem;
}

.bonus-be-part__block-content:before {
  content: '&';
  display: block;
  position: absolute;
  color: #f187b7;
  font-size: 20.692rem;
  font-weight: 900;
  left: 0;
  top: 50%;
  -ms-transform: translate(-30%, -50%);
      transform: translate(-30%, -50%);
  z-index: 1;
}

@media (min-width: 600px) {
  .bonus-be-part__block-content:before {
    font-size: 23.615rem;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }
}

.bonus-be-part__block-content:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  background-color: #0a01c0;
  left: 0;
  right: 0;
  margin-top: -5px;
  height: 10px;
  z-index: 3;
}

@media (min-width: 600px) {
  .bonus-be-part__block-content:after {
    height: auto;
    width: 10px;
    margin-left: -5px;
    margin-top: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    right: auto;
  }
}

.container-get {
  background-color: #f187b7;
  padding-top: 3rem;
}

.bonus-about {
  color: #fff;
  padding: 2.2rem 10px 2.77rem;
  text-align: center;
  background-color: #f187b7;
}

@media (min-width: 600px) {
  .bonus-about {
    padding-bottom: 8rem;
  }
}

.bonus-about__title {
  text-transform: uppercase;
  font-size: 1.769rem;
  font-weight: 900;
}

@media (min-width: 600px) {
  .bonus-about__title {
    font-size: 3.846rem;
  }
}

.bonus-about__subtitle {
  text-transform: uppercase;
  font-size: 1.154rem;
  font-weight: 900;
  margin: 3rem 0;
}

@media (min-width: 600px) {
  .bonus-about__subtitle {
    font-size: 1.846rem;
    font-weight: 900;
    line-height: 1.538rem;
  }
}

.bonus-slider {
  margin-top: 3.2rem;
  display: block !important;
}

@media (min-width: 600px) {
  .bonus-slider {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: row;
        flex-direction: row;
    padding-bottom: 0;
    max-width: 80%;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 3rem auto;
  }
}

.bonus-slider.bonus-slider--special {
  background-color: transparent;
  color: #ffffff;
}

.bonus-slider.bonus-slider--special .bonus-slider-item {
  color: #ffffff;
  height: 24rem;
}

@media (min-width: 600px) {
  .bonus-slider.bonus-slider--special .bonus-slider-item {
    background-color: transparent;
  }

  .bonus-slider.bonus-slider--special .bonus-slider-item .bonus-about__icon {
    display: -ms-flexbox;
    display: flex;
    min-height: 6rem;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }

  .bonus-slider.bonus-slider--special .bonus-slider-item .bonus-about__icon svg {
    display: block;
    width: 100%;
  }
}

.bonus-slider.bonus-slider--special .slick-dots > li {
  background-color: #ffffff;
}

.bonus-slider.bonus-slider--special .slick-dots > li.slick-active {
  background-color: #ffffff;
}

.bonus-slider .slick-dots {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
  padding: 0;
}

.bonus-slider .slick-dots > li {
  width: 0.615rem;
  height: 0.615rem;
  background-color: #003d7b;
  opacity: 0.3;
  overflow: hidden;
  border-radius: 50%;
}

.bonus-slider .slick-dots > li button {
  font-size: 0;
  color: transparent;
}

.bonus-slider .slick-dots > li + li {
  margin-left: 10px;
}

.bonus-slider .slick-dots > li.slick-active {
  width: 1rem;
  height: 1rem;
  opacity: 1;
  background-color: #003d7b;
}

.bonus-slider-item {
  position: relative;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 40px;
  box-sizing: border-box;
  height: 20rem;
}

.bonus-slider-item--blue {
  background-color: #fff;
  margin-bottom: 10px;
}

.bonus-slider-item .bonus-about__icon {
  width: 80px;
  margin: 0 auto;
}

.bonus-slider-item .bonus-about__icon svg {
  max-height: 80px;
}

@media (min-width: 600px) {
  .bonus-slider-item .bonus-about__icon {
    width: 70px;
  }

  .bonus-slider-item .bonus-about__icon svg {
    max-height: 70px;
  }
}

.bonus-slider-item p {
  font-size: 1.154rem;
  line-height: 1.923rem;
  font-weight: 300;
  max-width: 100%;
  color: #0a01c0;
}

.bonus-slider-item--white p {
  color: #fff;
}

@media (min-width: 600px) {
  .bonus-slider-item p {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (min-width: 600px) {
  .bonus-slider-item {
    background-color: #fff;
    height: 30rem;
    -ms-flex-pack: start;
        justify-content: flex-start;
    padding-top: 6.7rem;
    width: 30%;
  }
}

.bonus-how {
  margin-bottom: 58px;
}

@media (min-width: 600px) {
  .bonus-how {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-pack: center;
        justify-content: center;
    max-width: 80%;
    margin: 5rem auto 5rem;
  }
}

@media (max-width: 599px) {
  .bonus-how-item + * {
    margin-top: 23px;
  }
}

.bonus-how-item__header {
  display: -ms-flexbox;
  display: flex;
  width: 12rem;
  margin: 0 auto;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 1.2rem;
}

@media (min-width: 600px) {
  .bonus-how-item__header {
    width: 100%;
  }
}

.bonus-how-item__header:before,
.bonus-how-item__header:after {
  content: '';
  display: block;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.3;
  width: 100%;
}

.bonus-how-item__number {
  width: 2.308rem;
  min-width: 2.308rem;
  height: 2.308rem;
  border: 1px solid #cf2149;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px;
}

@media (min-width: 600px) {
  .bonus-how-item__number {
    width: 5.692rem;
    height: 5.692rem;
    min-width: 5.692rem;
    border-color: #ffffff;
    font-size: 3rem;
  }
}

.bonus-how-item__content {
  font-size: 1.385rem;
  font-weight: 300;
  line-height: 1.923rem;
}

@media (min-width: 600px) {
  .bonus-how-item__content {
    width: 70%;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
.bonus-benefit {
  padding: 2rem;
  border-radius: 1.154rem;
  border: 0.077rem solid #ffffff;
}

.bonus-benefit__title {
  font-size: 1.923rem;
  font-weight: 900;
}

.bonus-benefit__amount,
.bonus-benefit__amount-text {
  color: #e42451;
  font-weight: 900;
}

.bonus-benefit__amount {
  font-size: 4.462rem;
  line-height: 3.485rem;
  margin-top: 1rem;
}

.bonus-benefit__amount-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.bonus-benefit__subtitle {
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 600px) {
  .bonus-benefit {
    max-width: 30%;
    margin: 3rem auto;
  }

  .bonus-benefit__title {
    font-size: 3.846rem;
  }

  .bonus-benefit__amount {
    font-size: 9.231rem;
    line-height: 7.485rem;
  }

  .bonus-benefit__amount-text {
    font-size: 2rem;
  }

  .bonus-benefit__subtitle {
    font-size: 2.308rem;
  }
}

.bonus-economy {
  margin-top: 47px;
  text-align: center;
  color: #1b4c84;
  background-image: url(../images/bonus/bonus-cards-mobile-red.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding-bottom: 70%;
  font-size: .8em;
}

@media (max-width: 599px) {
  .bonus-economy {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .bonus-economy {
    font-size: 1rem;
  }
}

.bonus-economy__title {
  font-size: 1.154em;
  font-weight: 900;
}

.bonus-economy__icon {
  margin: 2.8em auto;
  width: 4.5em;
  height: 4.5em;
}

.bonus-economy p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.538em;
  padding: 0 4.6em;
}

.bonus-economy__subtitle {
  color: #e42451;
  font-size: 1.154em;
  font-weight: 900;
}

@media (min-width: 600px) {
  .bonus-economy {
    position: relative;
    padding-bottom: 0;
    padding-top: 35.3846154%;
    margin-top: -1.6%;
    background-image: url(../images/bonus/bonus-cards.png);
  }

  .bonus-economy__content {
    position: absolute;
    width: 34em;
    left: 3%;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
  }

  .bonus-economy__title {
    font-size: 2.308em;
    margin-bottom: 1.4em;
  }

  .bonus-economy p {
    font-size: 2em;
    line-height: 1.3em;
  }

  .bonus-economy__subtitle {
    font-size: 2.308em;
  }
}

.page--bonuses h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.page--bonuses .slick-initialized {
  display: block;
  max-width: 80%;
  margin: 2.3rem auto;
}

.page--bonuses .slick-initialized .slick-slide {
  display: -ms-flexbox;
  display: flex;
}

.page--bonuses .slick-initialized .slick-dots {
  margin: 2rem 0 0 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.page--bonuses .slick-initialized .slick-dots li {
  display: inline-block;
}

.page--bonuses .slick-initialized .slick-dots li button {
  display: block;
  width: 0.615rem;
  height: 0.615rem;
  overflow: hidden;
  background-color: #003d7b;
  opacity: 0.3;
  border-radius: 50%;
  border: none;
  font-size: 0;
  padding: 0;
}

.page--bonuses .slick-initialized .slick-dots li button:focus {
  outline: none;
}

.page--bonuses .slick-initialized .slick-dots li + li {
  margin-left: 1rem;
}

.page--bonuses .slick-initialized .slick-dots li.slick-active button {
  -ms-transform: scale(1.2);
      transform: scale(1.2);
  opacity: 1;
}

.bonuses-intro {
  text-align: center;
}

@media (min-width: 600px) {
  .bonuses-intro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 601px) and (max-width: 823px) {
  .bonus-slider-item {
    background-color: #ffffff;
    height: 38rem;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 1.7rem;
    width: 30%;
  }
}

@media (max-width: 599px) {
  .bonuses-intro > * + * {
    margin-top: .75rem;
  }
}

.bonuses-intro__left,
.bonuses-intro__right {
  font-size: 1.063rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 4.5rem;
  color: #FD7778;
}

.bonuses-intro__right {
  background-color: #ffffff;
}

@media (max-width: 599px) {
  .bonuses-intro__center {
    margin-bottom: 1.25rem;
  }
}

.bonuses-intro__total {
  font-size: 3.75rem;
  line-height: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #97C1E4;
}

.bonuses-intro__subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.popup {
  background-color: #ffffff;
  box-sizing: border-box;
}

.popup.popup--size {
  min-width: 20rem;
}

.popup__wrapper {
  padding: 10px;
}

@media (min-width: 600px) {
  .popup__wrapper {
    padding: 2.5rem 5rem;
  }
}

.popup__container {
  position: relative;
  z-index: 1000;
}

.popup__content > img {
  width: 100%;
}

body > .popup {
  position: fixed;
  z-index: 1000;
}

body > .popup h3 {
  font-size: 1.3rem;
  margin-bottom: 3.8rem;
}

@media (max-width: 599px) {
  body > .popup {
    min-width: 0;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    left: 0;
  }

  body > .popup .column-md-2 + .column-md-2 {
    margin-top: 2rem;
  }
}

@media (min-width: 600px) {
  body > .popup {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    min-width: 75rem;
    min-height: 12rem;
  }
  body > .popup--fast-order {
    min-width: 60rem;
  }
}

body > .popup--overflow {
  top: 2.5rem;
  /*bottom: 2.5rem;*/
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

body > .popup--overflow .popup__wrapper {
  height: 100%;
  box-sizing: border-box;
}

body > .popup--overflow .popup__container {
  /*overflow-y: auto;
  height: 100%;*/
}

@media (max-width: 599px) {
  body > .popup--overflow {
    top: 0;
    right: 0;
    /*bottom: 0;*/
    left: 0;
    -ms-transform: none;
        transform: none;
    overflow: auto;
  }
}

body > .popup--overflow .popup__toggle {
  top: 0;
  right: 0;
  -ms-transform: none;
      transform: none;
  font-size: 1.5rem;
}

body > .popup--gallery {
  padding: 0;
}

body > .popup--gallery .popup__container {
  height: 100%;
}

body > .popup--gallery article {
  height: 100%;
  box-sizing: border-box;
}

body > .popup--gallery img {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  body > .popup--shop-list .popup__container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  body > .popup--shop-list .product-shop-list {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  body > .popup--shop-list .product-shop-list article {
    height: 30rem;
    overflow: hidden;
  }

  body > .popup--shop-list .product-shop-list .shop-list {
    height: 100%;
    overflow-y: scroll;
  }

  body > .popup--shop-list .product-shop-list .shop-list-map .shop-list-map__container {
    padding-top: 60%;
  }
}

@media (max-width: 700px) {
  body > .popup--preorder {
    padding: 0;
  }

  body > .popup--preorder .popup__container {
    padding: 0px !important;
    max-height: 100vh;
    overflow-y: scroll;
  }
}

@media (min-width: 700px) {
  body > .popup--preorder .popup__container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  body > .popup--preorder .product-preorder {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  body > .popup--preorder .product-preorder .product-shop-list article {
    height: 20rem;
    margin-top: 0;
  }

  body > .popup--preorder .product-preorder .shop-list {
    height: 100%;
    overflow-y: scroll;
  }

  body > .popup--preorder .product-preorder .shop-list-map .shop-list-map__container {
    padding-top: 40%;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  body > .popup--preorder .gm-style-iw {
    -ms-transform: translate(1rem, 4rem);
        transform: translate(1rem, 4rem);
  }
}

@media (min-width: 600px) {
  body > .popup--preorder-success {
    min-width: 0;
  }

  body > .popup--preorder-success .popup__wrapper {
    padding: 4rem 10rem;
    text-align: center;
  }
}

body > .popup--subscribe small {
  display: block;
  opacity: .6;
  text-align: center;
}

@media (min-width: 600px) {
  body > .popup--subscribe {
    max-width: 50rem;
    min-width: 0;
  }
}

@media (max-width: 599px) {
  body > .popup--subscribe {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }

  body > .popup--subscribe h3 {
    margin-bottom: 1rem;
  }

  body > .popup--subscribe .popup__container {
    width: 100%;
  }

  body > .popup--subscribe .popup__toggle {
    position: fixed;
  }
}

@media (min-width: 600px) {
  body > .popup--product-gallery {
    /*max-width: 700px;*/
    height:90%;
    width:90%;
  }
}

body > .popup--product-gallery .popup__wrapper {
  padding: 0;
  position: relative;
}

body > .popup--product-gallery .popup__container {
  padding: 0 10rem;
  position: static;
}

body > .popup--product-gallery .product-gallery {
  min-height: 340px;
  margin: 2rem 0;
}

body > .popup--product-gallery .product-gallery .product-gallery__large {
  -ms-flex: 0 0 40rem;
      flex: 0 0 40rem;
}

body > .popup--product-gallery .product-gallery .slick-slider {
  position: static;
}

body > .popup--product-gallery .product-gallery .product-gallery__slider {
  border-top: none;
}

body > .popup--product-gallery .slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10rem;
}

body > .popup--product-gallery .slick-arrow.slick-prev {
  left: 0;
}

body > .popup--product-gallery .slick-arrow.slick-next {
  right: 0;
}

.popup__toggle {
  /* background-color: #FD7778; deleted by AK */
  position: absolute;
  color: #ffffff;
  padding: 1em;
  top: 0;
  right: 0;
  font-size: 1.5em;
  z-index: 1200;
  cursor: pointer; /* added by AK */
}

.popup__toggle:hover {
  color: #ffffff;
  background-color: #fd5e5f;
}

.popup__header {
  font-size: 1.5em;
  color: #FD7778;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

body.with--popup {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
}

body.with--popup:after {
  content: ' ';
  display: block;
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.shop-maps {
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .shop-maps {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: stretch;
        align-items: stretch;
    margin-top: 0px;
  }
}

.slick-track img {
  margin-bottom: 5px;
}

.shop-photo-slider img {
  margin-bottom: 5px;
}

.shop-maps .shop-google-map {
  min-width: 70%;
  position: relative;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .shop-maps {
      display: block;
  }
  .shop-maps .shop-google-map {
    margin-right: 0px;
  }
}

.shop-maps .shop-google-map > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.shop-maps .shop-inner-map a {
  display: block;
}

.shop-maps .shop-inner-map a img {
  width: 100%;
}

@media (max-width: 599px) {
  .shop-maps .shop-google-map {
    padding-top: 100%;
  }

  .shop-maps .shop-inner-map {
    margin-top: 1rem;
  }
}

.subway-map {
  position: relative;
  padding-top: 100%!important;
}

.subway-map svg {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.subway-map .map-marker {
  position: absolute;
  transform: translateX(-37px) translateY(-65%) translateZ(0) scale(0.5);
  background-image: url(../images/subway-marker_left.png);
  width: 55px;
  height: 39px;
}

  .shops-page .subway-map .map-marker{
    transform: translateX(-62px) translateY(-52%) translateZ(0) scale(0.5);
  }

.subway-map .map-marker.with-bubble {
  z-index: 10;
}

.subway-map .map-marker .map-bubble {
  -ms-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
  margin-left: 30px;
  margin-top: -20px;
  font-size: 2rem;
  min-width: 28rem;
}

.map-marker {
  background-image: url(../images/map-marker.png);
  background-size: contain;
  width: 47px;
  height: 61px;
  cursor: pointer;
}

.map-marker .map-bubble {
  position: absolute;
  -ms-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
  margin-top: -23px;
  margin-left: -15px;
  min-width: 15rem;
  pointer-events: none;
  opacity: 0;
  transition: all .3s linear;
}

.map-marker.with-bubble .map-bubble {
  opacity: 1;
}


.popup.popup--banner {
  min-width: auto;
  min-height: auto;
}
.popup.popup--banner .popup__wrapper {
  padding: 0;
}
body > .popup--overflow.popup--banner .popup__container {
  height: auto;
}
body > .popup--overflow .popup__wrapper {
  height: auto;
}
body > .popup--overflow.popup--banner {
  bottom: inherit;
}
.popup.popup--banner .popup__toggle {
  color: #fd5e5f;
  background: transparent;
  top: -10px;
  right: -10px;
}
.popup.popup--banner .popup__content {
  line-height: 0;
}
.popup.popup--banner img {
  max-width: 100%;
}
@media (max-width: 599px) {
  .popup.popup--banner .popup__toggle {
    top: 0px;
    right: 0px;
  }
}

.popup--feedback .alert--danger,
.popup--feedback .input-group {
  text-align: left;
}
.popup--feedback textarea::-webkit-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}
.popup--feedback .selectize-control.single .selectize-input {
  padding-left: 1rem;
}
.popup--feedback .selectize-control.single .selectize-input .item[data-value]:first-child {
  margin-left: 0;
}

@media (min-width: 600px) {
  body > .popup--feedback {
    font-size: 1.2em;
    min-width: 0;
  }

  body > .popup--feedback .popup__wrapper {
    padding: 4rem 5rem;
    text-align: center;
  }
}

@media (max-width: 599px) {
  .block-deliv {
    display: block;
    position: absolute;
    right: 0;
  }

  .block-deliv label {
    margin-bottom: 20px;
  }
  .block-deliv label:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 360px) {
  .filters__header {
    font-size:12px;
  }
}

body > .popup--message {
  font-size: 1.2em;
  min-width: 0;
}
body > .popup--message .popup__wrapper {
  padding: 4rem 6rem;
  text-align: center;
}

@media (max-width: 599px) {
  body > .popup--message .popup__wrapper {
    padding: 4rem 1rem 1rem;
  }
  body > .popup--message .column-5 {
    width: 100%;
  }
  body > .popup--message .column-5 + .column-5 {
    margin-top: .5em;
  }
}

/* fileupload */
.likee-file-upload {

}
.likee-file-upload__desc {
  font-size: 0.85rem;
  line-height: 1.25;
  margin-top: .5em;
}
.likee-file-upload__field {
  padding: 5px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
}
.likee-file-upload__field-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.likee-file-upload__field-input + label {
  float: left;
  padding: 0 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  line-height: 2.5rem;
}
.likee-file-upload__field .button {
  float: right;
}

.popup--banner-with-subscribe .subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 200px;
  padding: 0 10px;
  background-color: #ffffff;
  color: #000000;
}
.popup--banner-with-subscribe .subscribe form {
  max-width: 360px;
}
.popup--banner-with-subscribe .subscribe .input-group input[type=email] {
  background-color: #fff;
  border-bottom-color: #000000;
  color: #000000;
  font-size: 1.25rem;
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 10px;
}
.popup--banner-with-subscribe .subscribe .input-group input[type=email].error {
  border-bottom-color: #FD7778;
}
.popup--banner-with-subscribe .subscribe .input-group input[type=email]:-webkit-autofill,
.popup--banner-with-subscribe .subscribe .input-group input[type=email]:-webkit-autofill:hover,
.popup--banner-with-subscribe .subscribe .input-group input[type=email]:-webkit-autofill:focus {
  color: #000000 !important;
  -webkit-text-fill-color: #000000 !important;
}
.popup--banner-with-subscribe .subscribe .input-group input[type=email]::-webkit-input-placeholder {
  color: #000000 !important;
}
.popup--banner-with-subscribe .subscribe .input-group input[type=email]::-moz-placeholder {
  color: #000000 !important;
}
.popup--banner-with-subscribe .subscribe .input-group input[type=email]:-moz-placeholder {
  color: #000000 !important;
}
.popup--banner-with-subscribe .subscribe .input-group input[type=email]:-ms-input-placeholder {
  color: #000000 !important;
}
.popup--banner-with-subscribe .subscribe .input-group + .input-group {
  margin-top: 0.65rem;
}
.popup--banner-with-subscribe .subscribe .input-group label.checkbox > span span {
  
  background-color: #fff;
  padding: 0 10px;
}
.popup--banner-with-subscribe .subscribe button[type=submit] {
  color: #000000;
}
.popup--banner-with-subscribe .subscribe .error,
.popup--banner-with-subscribe .subscribe .subscribe-message b {
  background-color: #fff;
  line-height: 1;
  padding: 0 10px;
  pointer-events: all;
}
.popup--banner-with-subscribe .subscribe .subscribe-message a {
  color: #fd7778;
  transition: opacity 300ms;
}
.popup--banner-with-subscribe .subscribe-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.popup--banner-with-subscribe .subscribe-bg .subscribe {
  background: transparent;
}

/* statises */
.hide-title .container--title {
  display: none;
}
.hide-title .container.heading {
  margin-top: 2rem;
}

/* group-action */
.ga-block__img {
  margin-bottom: 1rem;
}
.ga-block__img img {
  height: auto;
  position: static;
  width: 100%;
  transform: none;
}
.ga-block__text {
  padding: 0 1.5rem 1.5rem;
}

@media (max-width: 599px) {
  .products-grid--with-banner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .products-grid--with-banner > .column-5:first-child {
    order: 1;
  }
}

/* no shoping */
.no-shoping .products-item__cost,
.no-shoping .products-item__buttons,
.no-shoping .product-page__container .cost-container,
.no-shoping .product-page__container .product-page__add-to-cart,
.no-shoping .product-preorder__info,
.no-shoping .product-preorder__messages,
.no-shoping .product-preorder__size,
.no-shoping .filters-item--stores-flag,
.no-shoping .filters-item--minimum-price,
.no-shoping .filters__column--minimum_price,
.no-shoping .product-preorder article .tabs .tabs-item:last-child {
  display: none !important;
}
.no-shoping .product-preorder article .tabs .tabs-item {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.product-page__na {
  margin-bottom: 10px;
  padding: 2.1rem 4.2rem;
  background-color: #fff;
  border: 4px solid #FD7778;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.product-page__na--reserve {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.bonus {
  overflow: hidden;
}
.stairway {
  padding: 0!important;
  margin: 0!important;
}
.bonus-top {
  background: #0a01c0;
  padding-top: 40px;
}
.bonus-bottom {
  background: #f187b7;
}

.bonus-top__head {
  font-size: 80px;
  font-family: 'Myriad Pro Regular';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.bonus-top__bonus-text {
  font-size: 80px;
  font-weight: 700;
  color: #0a01c0;
  padding: 15px;
  background: #fff;
  text-transform: uppercase;
}
.bonus-top__percent {
  display: flex;
  align-items: center;
}
.percent__left {
  color: #f187b7;
  text-align: right;
  line-height: 1;
  width: 50%;
  display: inline-block;
  position: relative;
  bottom: -5px;
}
.percent__left-num {
  line-height: 1;
  font-weight: 700;
  margin-top: 50px;
  font-size: 400px;
  position: relative;
  font-family: 'Gotham Pro Black';
}
.percent__left-num::before {
  content: "скидка по карте";
  font-size: 25px;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: block;
  position: absolute;
  right: 125px;
  top: 150px;
  font-weight: 700;
  width: 265px;
  font-family: 'Gotham Pro Black';
}
.percent__right {
  color: #f187b7;
  position: relative;
  display: inline-block;
  width: 50%;
}
.percent__right-num {
  font-weight: 700;
  font-size: 400px;
  line-height: 1;
  display: inline-block;
  font-family: 'Gotham Pro Black';
}
.percent__right:before {
  content: "%";
  display: block;
  font-size: 90px;
  position: absolute;
  left: 110px;
  bottom: 260px;
  font-family: 'Gotham Pro Black';
}
.percent__right-text {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  font-family: 'Gotham Pro Black';
  display: inline-block;
  position: relative;
  top: -70px;
}
.percent__left-line {
  width: 107%;
  height: 70px;
  background: #fff;
}
.percent__right-line {
  width: 100%;
  height: 70px;
  background: #fff;
  margin-bottom: 60px;
}

/* two block */
.stairway__item--second .stairs__percent:after {
  right: 23px;
}
.stairway__item--third .stairs__percent:after {
  right: 20px;
}
.stairs__percent {
  font-size: 200px;
  position: relative;
  color: #fff;
  font-weight: 900;
  text-align: center;
  line-height: 1;
  width: 260px;
  margin: 0 auto;
  font-family: 'Gotham Pro Black';
  /*letter-spacing: -10px;*/
}
.stairs__percent:after {
  content: "%";
  display: block;
  font-size: 30px;
  position: absolute;
  right: -5px;
  top: 24px;
  padding: 6px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: #f187b7;
  font-family: 'Gotham Pro Black';
}
.stairs__head {
  color: #f187b7;
  background: #fff;
  width: 112%;
  font-weight: 500;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  height: 72px;
  line-height: 72px;
  padding-right: 60px;
}
.stairs__desc {
  color: #0a01c0;
  font-size: 19px;
  font-weight: 700;
  padding: 3px 0px 10px 43px;
  width: 90%;
  margin: 0 auto;
}
.stairway__item--first {
  margin-top: 178px;
}

.stairway__item--first .stairs__percent:after {
  right: 64px;
}

.stairway__item--second {
  margin-top: 128px;
}
.stairway__item--third {
  margin-top: 78px;
}
.stairway__item--fourth {
  margin-top: 28px;
}
.stairway__one-bonus {
  font-size: 80px;
  font-weight: 700;
  color: #0a01c0;
  text-transform: uppercase;
}
.bonus-top__new-level, .bonus-top__discount {
  display: none;
}
@media (max-width: 1800px) {
  .bonus-top__new-level, .bonus-top__discount {
      display: none;
  }
}
@media (max-width: 991px) {
  .percent__left-line, .percent__right-line {
      display: none;
  }
  .percent__left-num {
      margin-top: 0px;
  }
  .percent__right:before {
      bottom: 130px;
  }
  .percent__right-text {
      display: none;
  }
  .stairs__percent {
      font-size: 200px;
      max-width: 270px;
  }
  .stairs__percent:after {
      right: -2px;
      top: 15px;  
  }
  .stairs__head {
      width: 100%;
  }
  .bonus-top__new-level, .bonus-top__discount {
      display: none;
  }
}

@media (max-width: 767px) {
  .stairway__one-bonus {
      line-height: 1;
  } 
  .stairway__item--first {
      margin-top: 0px;
  }
  .stairway__item--second {
      margin-top: 0px;
  }
  .stairway__item--third {
      margin-top: 0px;
  }
  .stairway__item--fourth {
    margin-top: 0px;
  }
  .stairs__head {
      width: 100%;
  }
}

@media (max-width: 575px) {
  .stairway__one-bonus {
      padding-top: 40px;
      font-size: 40px;
  }
  .percent__left-num {
      font-size: 200px;
  }
  .percent__right-num {
      font-size: 200px;
  }
  .percent__right:before {
      bottom: 85px;
      font-size: 40px;
      left: 59px;
  }
  .bonus-top__head {
      font-size: 70px;
  }
 
  .bonus-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .bonus-top__percent {
      padding-bottom: 40px;
  }
  .percent__left-num::before {
      content: none;
  }
  .bonus-top__new-level, .bonus-top__discount {
      display: block;
      text-align: center;
      color: #f187b7;
      font-size: 17px;
      font-family: 'Gotham Pro Black';
  }
  .bonus-top__discount {
      position: relative;
      top: 10px;
  }
  .bonus-top__new-level {
      position: relative;
      bottom: 30px;
  }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.legend-padding {
  padding-bottom: 20px;
}

.btn-save-mailing {
  text-align: center;
  margin-bottom: 30px;
}

.btn-style-blue {
  font-family: 'firaregular';
  outline: none;
  margin-top: 20px;
  border: 1px solid rgba(200,200,200, .5);
  text-transform: uppercase;
  background: #034078 !important;
  color: #ffffff !important;
}
@media (max-width: 599px) {
  .product-page__na {
    padding: 1.5rem;
  }
}
