/* этот ужас адский потом надо переделывать - пока кидаем быстрые правки */
.after-blue .button {
	text-indent: 0;
    width: auto !important;
    position: relative !important;
    padding: 10px 20px;
    height: auto;
}
/* правки по меню */
.left-hide-menu a {
  display: flex;
  align-items: center;
}
.zagolovok-hide-menu a {
  margin:0;
}
.zagolovok-hide-menu p {
  padding-top:15px;
  line-height:22px;
}

/* карточка товара */
.sale-sela.mlt {
	background: #4e4e4e;
}

/* popup */
.popup {
  background-color: #ffffff;
  box-sizing: border-box;
}
/* added by AK */
.popup--preorder.popup--overflow{ 
    overflow-y: initial;
}
.popup.popup--size {
  min-width: 20rem;
}

.popup__wrapper {
    /* changed by AK */
  padding: 0px; 
}
.plus-bns { 
    /* added by AK */
    padding: 8px 10px;
}
.size-selector > a, .size-selector label{ 
    /* added by AK */
    margin-left: 2px;
    margin-top: 1px;
    color: #000;
    font-weight: bold;
    flex: 1;
    font-size: 16px;
    padding: 4px 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #f4f4f4;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}
.product-preorder__messages div{ 
    /* added by AK */
    font-size: 12px;
  }
  .preorder-list-item__info{
    /* added by AK */
      min-width: 55%;
  }
  .preorder-list-item__sizes{
    /* added by AK */
      min-width: 45%;
  }

@media (min-width: 600px) {
  /* .popup__wrapper { // changed by AK
    padding: 2.5rem 5rem;
  } */
}
.popup__container {
  position: relative;
  z-index: 1000;
  overflow-x: hidden; 
  /* added by AK */
  display: flex;
  flex-direction: column;
}
.preorder-list-item.selected{ 
    /* probably added by AK */
    cursor: pointer;
    font-size: 1em;
    background: #f0f0f0;
    border: none;
}
.popup__content > img {
  width: 100%;
}

body > .popup {
  position: fixed;
  z-index: 1000;
  overflow-y: auto;
}

body > .popup h3 {
  font-size: 1.3rem;
  margin-bottom: 3.8rem;
}

body > .popup--discont h3 {
  font-family: 'vollkornsemibold';
  color: #4e4e4e;
  text-align: center;
  display: block;
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 40px;
}

@media (max-width: 599px) {
  body > .popup {
    min-width: 0;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    left: 0;
  }

  body > .popup--discont {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  body > .popup .column-md-2 + .column-md-2 {
    margin-top: 2rem;
  }
}

@media (min-width: 600px) {
  body > .popup {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    /*min-width: 75rem;*/
    min-height: 12rem;
  }
  body > .popup--fast-order {
    min-width: 60rem;
  }
}

body > .popup--overflow {
  top: 2.5rem;
  /*bottom: 2.5rem;*/
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

body > .popup--overflow .popup__wrapper {
  height: 100%;
  box-sizing: border-box;
}

body > .popup--overflow .popup__container {
  /* overflow-y: auto; // deleted by AK */
  /*height: 100%;*/
}

@media (max-width: 599px) {
  body > .popup--overflow {
    top: 0;
    right: 0;
    /*bottom: 0;*/
    left: 0;
    -ms-transform: none;
        transform: none;
   /* overflow: auto; // deleted by AK */
   padding: 30px 15px;
  }
}

body > .popup--overflow .popup__toggle {
    /* modified by AK */
    top: -24px;
    right: -61px;
    -ms-transform: none;
    transform: none;
    font-size: 2.5rem; 
    transition: 0.3s;
}
body > .popup--overflow .popup__toggle:hover{
    /* modified by AK */
    transform: rotate(90deg);
    transition: 0.3s;
    cursor: pointer;
}
body > .popup--gallery {
  padding: 0;
}

body > .popup--gallery .popup__container {
  height: 100%;
}

body > .popup--gallery article {
  height: 100%;
  box-sizing: border-box;
}

body > .popup--gallery img {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  body > .popup--shop-list .popup__container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  body > .popup--shop-list .product-shop-list {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  body > .popup--shop-list .product-shop-list article {
    height: 30rem;
  /*  overflow: hidden; // deleted by AK */
  }

  body > .popup--shop-list .product-shop-list .shop-list {
    height: 100%;
  /*  overflow-y: scroll; // deleted by AK */
  }

  body > .popup--shop-list .product-shop-list .shop-list-map .shop-list-map__container {
    padding-top: 60%;
  }
}

@media (max-width: 700px) {
  body > .popup--preorder {
    padding: 0;
  }

  .product-preorder

  body > .popup--preorder .popup__container {
    padding: 10px !important;
    max-height: 100vh;
    /* overflow-y: scroll; // deleted by AK */
  }
}

@media (min-width: 700px) {
  body > .popup--preorder .popup__container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  body > .popup--preorder .product-preorder {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  body > .popup--preorder .product-preorder .product-shop-list article {
    height: 20rem;
    margin-top: 0;
  }

  body > .popup--preorder .product-preorder .shop-list {
    height: 100%;
   /* overflow-y: scroll; // deleted by AK */
  }

  body > .popup--preorder .product-preorder .shop-list-map .shop-list-map__container {
    padding-top: 40%;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  body > .popup--preorder .gm-style-iw {
    -ms-transform: translate(1rem, 4rem);
        transform: translate(1rem, 4rem);
  }
}

@media (min-width: 600px) {
  body > .popup--preorder-success {
    min-width: 0;
  }

  body > .popup--preorder-success .popup__wrapper {
    padding: 4rem 10rem;
    text-align: center;
  }
}

body > .popup--subscribe small {
  display: block;
  opacity: .6;
  text-align: center;
}

@media (min-width: 600px) {
  body > .popup--subscribe {
    max-width: 50rem;
    min-width: 0;
  }
}

@media (max-width: 599px) {
  body > .popup--subscribe {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }

  body > .popup--subscribe h3 {
    margin-bottom: 1rem;
  }

  body > .popup--subscribe .popup__container {
    width: 100%;
  }

  body > .popup--subscribe .popup__toggle {
    position: fixed;
  }
}

@media (min-width: 600px) {
  body > .popup--product-gallery {
    /*max-width: 700px;*/
    height:90%;
    width:90%;
  }
}

body > .popup--product-gallery .popup__wrapper {
  padding: 0;
  position: relative;
}

body > .popup--product-gallery .popup__container {
  padding: 0 10rem;
  position: static;
}

body > .popup--product-gallery .product-gallery {
  min-height: 340px;
  margin: 2rem 0;
}

body > .popup--product-gallery .product-gallery .product-gallery__large {
  -ms-flex: 0 0 40rem;
      flex: 0 0 40rem;
}

body > .popup--product-gallery .product-gallery .slick-slider {
  position: static;
}

body > .popup--product-gallery .product-gallery .product-gallery__slider {
  border-top: none;
}

body > .popup--product-gallery .slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10rem;
}

body > .popup--product-gallery .slick-arrow.slick-prev {
  left: 0;
}

body > .popup--product-gallery .slick-arrow.slick-next {
  right: 0;
}

.popup__toggle {
    /* modified by AK */
    background: none;
    position: absolute;
    color: #ffffff;
    padding: 1em;
    top: -26px;
    right: -61px;
    font-size: 1.5em;
    line-height: 1;
    z-index: 1200;
}

.popup__toggle:hover {
  color: #ffffff;
  background: none; /* modified by AK */
}

.popup__header {
  font-size: 1.5em;
  color: #FD7778;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

body.with--popup {
  /* overflow: hidden; deleted by AK */
  min-height: 100%;
  height: 100%;
}

body.with--popup:after {
  content: ' ';
  display: block;
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* tabs */

@media (min-width: 600px) {
  .tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}

.tabs-item {
  display: block;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 1em 0;
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 599px) {
  .tabs-item {
    padding: 0;
  }
}

.tabs-item:focus {
  color: #000000;
}

.tabs-item.active {
  opacity: 1;
  color: #FD7778;
}

@media (min-width: 600px) {
  .tabs-item.active {
    border-bottom: 2px solid rgba(253, 119, 120, 0.5);
  }
}

.tabs--center {
  -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 20px;
}

@media (min-width: 991px) {
  .tabs--center {
        margin: 0 65px;
  }
}

.tabs-targets > * {
  display: none;
}

.tabs-targets > *.active {
  display: block;
}

.tabs-content-item {
  display: none !important;
}

.tabs-content-item.active {
  display: block !important;
}

@media (max-width: 700px) {
  .product-preorder header {
    font-size: 1.2em;
  }
}

@media (min-width: 700px) {
  .product-preorder > main {
    padding: 0 1rem;
  }
}

@media (max-width: 700px) {
  .product-preorder__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product-preorder__aside-info {
    order: 1;
  }
  .product-preorder__aside-form {
    order: 3;
    margin-bottom: 2em;
  }
  .product-preorder__article {
    order: 2;
  }
}
@media (min-width: 700px) {
  .product-preorder__article {
    overflow-y: scroll;
  }
}
@media (min-width: 700px) {
  .product-preorder__article {
    float: right;
  }
  .product-preorder__aside-form {
    clear: left;
  }
}

.product-preorder__title {
  font-size: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-weight: 200;
  color: #333;
  text-align: center;
}

.product-preorder__media {
  display: block;
  border: 1px solid #eeeeee;
  width: 100%;
  padding-top: 100%;
  position: relative;
  margin-bottom: 1em;
}

.product-preorder__media img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
}

.product-preorder__short-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em;
}

.product-preorder__short-info .product-preorder__name {
  margin-right: 1rem;
}

.product-preorder__sku {
  font-size: 1em;
  color: #999;
  text-align: right;
}

@media (min-width: 700px) {
  .product-preorder__sku {
    font-size: 0.9em;
  }
}

.product-preorder__name {
  font-size: 1em;
}

@media (min-width: 700px) {
  .product-preorder__name {
    font-weight: 500;
    font-size: 1.4em;
  }
}

.product-preorder__cost {
  font-size: 1.9em;
  color: #FD7778;
}

.product-preorder__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 1em;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.product-preorder__messages {
  margin: 1.5em 0 0.5em;
}
.radio1 + label{ /* added by AK */
    font-family: sans-serif;
}
@media (max-width: 599px) {
  .product-preorder__size label {
    display: block;
    margin-bottom: 1rem;
  }
}

@media (min-width: 700px) {
  .product-preorder__size {
    display: -ms-flexbox;
    /* display: flex; deleted by AK */
    -ms-flex-align: center;
        align-items: center;
  }

  .product-preorder__size label {
    margin-right: 0.5rem;
  }
}

.product-preorder .widget__bonus {
  padding-left: 0;
}

.product-preorder__form {
  margin-top: 1em;
  text-align: center;
}

.product-preorder__form .button {
  margin-top: 1em;
}

.product-preorder > footer {
  padding: 0 1em 1em 1em;
  text-align: center;
}

@media (max-width: 700px) {
  .product-preorder > footer {
    padding: 1.2rem 0;
  }
  .product-preorder article {
    padding-left: 0px;
    padding-right: 0px;
  }
  .product-preorder__aside-info {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.product-preorder article .tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.product-preorder article .tabs .tabs-item {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  border: 1px solid #bbbbbb;
  font-weight: normal;
  text-transform: none;
  padding: .75rem 0;
  margin-top: 0px;
  min-width: inherit;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .product-preorder article .tabs {
    margin-top: 0px;
  }
  .product-preorder article .tabs .tabs-item {
    font-size: 0.85em;
  }
  .product-page__na--reserve{
    padding: 1.5rem;
    margin-bottom: 0px;
  }
}

.product-preorder article .tabs .tabs-item.active {
  background-color: #034078;
  color: #ffffff;
  font-weight: normal;
}

.product-preorder article .tabs .tabs-item + .tabs-item {
  border-left: none;
}

.product-preorder__hint {
  font-weight: 200;
  font-size: 0.8em;
  color: #999999;
  margin-top: 1.8rem;
}

@media (max-width: 700px) {
  .product-preorder .product-shop-list {
    padding: 0 !important;
  }

  .product-preorder .product-shop-list > article {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    margin-top: .5rem;
  }

  .product-preorder .product-shop-list .shop-list {
    max-height: 24rem;
    /* overflow-y: scroll; deleted by AK */
  }
}

.preorder-list {
  display: block;
}


.preorder-list .preorder-list-item + .preorder-list-item {
  padding-top: 1em;
  border-top: 1px solid rgba(171, 171, 171, 0.2);
}

.preorder-list-item {
  display: flex;
  padding-bottom: 0.5em;
}

.tabs-targets > div > div > div:last-child {
    margin-bottom: 30px;
}

.preorder-list-item__title {
  text-transform: uppercase;
  font-size: 1.1em; /* changed by AK */
  margin-bottom: 10px;
}

.preorder-list-item__address {
  color: black;
  font-size: 1em;
}

.preorder-list-item__sizes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  flex-direction: column;
}

.size-selector {
  margin-bottom: 10px;
}

.preorder-button-wrapper{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.preorder-list-item__take {
  background-color:#034078;
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 0;
  border: none;
  padding: .5rem 0;
  margin: auto 5px 0 auto;
  min-width: inherit;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  border-radius: 3px;
  outline: none;
  height: 30px;
}

.preorder-list-item__whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#20b038;
  background: linear-gradient(to top, #20b038, #67d670);
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 0;
  border: none;
  padding: .5rem 0;
  margin: auto 5px 0 5px;
  min-width: inherit;
  text-transform: uppercase;
  border-radius: 3px;
  height: 30px;
}
.preorder-list-item__whatsapp-mobile {
  display: none;
}
.preorder-list-item__whatsapp span{
  display: block;
  padding-left: 5px;
  text-align: center;
}
.preorder-list-item__whatsapp:hover,
.preorder-list-item__whatsapp:focus {
  color: #ffffff;
  text-decoration: none;
}
.preorder-list-item__whatsapp img {
  height: 25px;
}
@media (max-width: 700px) {
  .preorder-list-item__whatsapp span{
    padding-top: 1px;
    padding-left: 0px;
    margin-left: 5%;
  }
  .preorder-list-item__whatsapp{
    display: none;
  }
  .preorder-list-item__whatsapp-mobile{
    display: flex;
    padding: .5rem 5px;
    height: 40px;
    text-align: left;
    font-size: 12px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
   }
  .preorder-list-item__take {
    height: 40px;
    width: 100%;
  }
  .preorder-list-item__whatsapp img {
    height: 35px;
  }
}

.preorder-list-item__sizes label {
  margin-right: 1em;
}

@media (max-width: 700px) {
  .product-preorder-success {
    text-align: center;
    width: 99%;
    margin: 0 auto;
    /*position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);*/
  }
  .product-preorder-success a, .product-preorder-success button{
    display: block;
    width: 100%!important;
  }
  .popup--feedback{
    margin: 0 auto;
  }
  .preorder-list-item__take {
    margin-right: 0px;
  }
}

@media (min-width: 600px) {
  .product-preorder-success {
    font-size: 1.4em;
  }
}

.product-preorder-success header {
  color: #FD7778;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.product-preorder-success__title {
  margin-bottom: 2rem;
}

.product-preorder-success__subtitle {
  color: #999999;
  font-weight: 200;
  margin-bottom: 1.4rem;
}

.product-preorder-success__number {
  font-size: 1.8rem;
}

.product-preorder-success footer {
  margin-top: 4rem;
  text-align: center;
}

/* shop-map */
.shop-map {
  width: 100%;
  position: relative;
}

.shop-map.shop-map--square {
  padding-top: 100%;
}

.shop-map > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.shop-map .gm-style-iw {
  padding-bottom: 3rem;
  -ms-transform: translate(0.75rem, 4.5rem);
      transform: translate(0.75rem, 4.5rem);
  /* overflow: hidden !important; deleted by AK */
  line-height: 1.35;
  white-space: nowrap;
  pointer-events: none;
}

.shop-map .gm-style-iw > div {
  max-height: 500px !important;
}

.map-bubble {
  color: #ffffff;
  background-color: #064177;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  margin: 0 auto 1rem;
}

@media (max-width: 599px) {
  .map-bubble {
    font-size: 0.75rem;
  }
}

.map-bubble:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem 1rem 0 1rem;
  border-color: #064177 transparent transparent transparent;
}

.map-bubble__title {
  margin-bottom: 1rem;
}
.map-bubble__title:nth-child(n+1){
  margin-top: 3rem;
}
.map-bubble__metro {
  margin-bottom: 0.8rem;
}
.map-bubble__title:first-child {
  margin-top: 0!important;
}
.map-bubble__metro i.icon,
.map-bubble__metro .selectize-control.multi i.selectize-input:after,
.selectize-control.multi .map-bubble__metro i.selectize-input:after,
.map-bubble__metro .selectize-control.single i.selectize-input:after,
.selectize-control.single .map-bubble__metro i.selectize-input:after,
.map-bubble__metro .slick-slider > i.slick-arrow,
.map-bubble__metro form i.input-group--calendar:after,
form .map-bubble__metro i.input-group--calendar:after,
.map-bubble__metro label.checkbox > span i.input__color,
label.checkbox > span .map-bubble__metro i.input__color,
.map-bubble__metro label.radio > span i.input__color,
label.radio > span .map-bubble__metro i.input__color,
.map-bubble__metro i.input-group--phone:before,
.map-bubble__metro i.dropdown-toggle:after,
.map-bubble__metro .navigation i.navigation-toggler,
.navigation .map-bubble__metro i.navigation-toggler,
.map-bubble__metro i.filters-toggle:after,
.map-bubble__metro i.filters-reset:after,
.map-bubble__metro i.cart-item__toggle:before {
  font-size: 0.8em;
  color: #f20f1c;
}

.map-bubble__info {
  padding: 0;
  list-style-type: none;
  margin-left: 1.5rem;
  margin-bottom: 0;
}

.map-bubble__info li {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  vertical-align: middle;
}

.map-bubble__info li + li {
  margin-top: 1rem;
}

.map-bubble__info li span {
  vertical-align: middle;
}

.map-bubble__info li i.icon,
.map-bubble__info li .selectize-control.multi i.selectize-input:after,
.selectize-control.multi .map-bubble__info li i.selectize-input:after,
.map-bubble__info li .selectize-control.single i.selectize-input:after,
.selectize-control.single .map-bubble__info li i.selectize-input:after,
.map-bubble__info li .slick-slider > i.slick-arrow,
.map-bubble__info li form i.input-group--calendar:after,
form .map-bubble__info li i.input-group--calendar:after,
.map-bubble__info li label.checkbox > span i.input__color,
label.checkbox > span .map-bubble__info li i.input__color,
.map-bubble__info li label.radio > span i.input__color,
label.radio > span .map-bubble__info li i.input__color,
.map-bubble__info li i.input-group--phone:before,
.map-bubble__info li i.dropdown-toggle:after,
.map-bubble__info li .navigation i.navigation-toggler,
.navigation .map-bubble__info li i.navigation-toggler,
.map-bubble__info li i.filters-toggle:after,
.map-bubble__info li i.filters-reset:after,
.map-bubble__info li i.cart-item__toggle:before {
  display: inline-block;
  font-size: 1.5em;
  width: 1em;
  text-align: right;
  vertical-align: middle;
  margin-right: 0.5rem;
}

@media (max-width: 599px) {
  .tabs--shop {
    margin-top: 2.5rem;
  }
}

.tabs--shop a.tabs-item {
  min-width: 33.33%;
  text-align: center;
}

/* правки окна резервирования */
.product-preorder__aside-form input {
    font-family: 'firaregular';
    padding: 10px 20px;
    width: 100%;
    background: white;
    outline: 0;
    margin-top: 20px;
    border: 1px solid rgba(200,200,200, .5);
}
.product-preorder__price {
    align-items: center;
    font-size: 23px; /* changed by AK */
    font-family: 'firabold';
    color: #4e4e4e;
    margin-top: 0px; /* changed by AK */
    margin-right: 5px;
    display: flex;
}
.product-preorder__main-price--discount {
    color: #cd1030;
}
.product-preorder__main-price--discount-yellow {
  color: #e28400;
}
.product-preorder__discount-percent {
    color: #cd1030;
    font-size: 13px;
    font-family: 'firabold';
    display: inline-block;
    margin: 0 10px;
}
.product-preorder__old-price {
    font-size: 16px;
    color: #b8b4b4;
    font-family: 'firabold';
    display: block;
    text-decoration: line-through;
}
