@charset 'UTF-8';
/* Slider */

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 11px;
    height: 19px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    content: '';
}

.slick-prev
{
    left: -25px;
    background: url('../img/arr-left.png') no-repeat;
}
.slick-next
{
    right: -25px;
    background: url('../img/arr-right.png') no-repeat;
}

/* Dots */
.slick-dots
{
    position: absolute;
    bottom: 25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: flex;
    align-items: center;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

@media screen and (max-width: 767px) {
    .slider #main-slider,
    .slider #main-slider2,
    .news-main-mob {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .slick-list {
        padding-bottom:20px;
    }
    #main-slider-mob1 .slick-dots,
    #main-slider-mob2 .slick-dots,
    #main-slider-mob3 .slick-dots,
    #main-slider-mob4 .slick-dots,
    #main-slider-mob5 .slick-dots,
    #main-slider-mob6 .slick-dots,
    #main-slider-mob7 .slick-dots,
    #main-slider-mob8 .slick-dots,
    #main-slider-mob9 .slick-dots,
    #main-slider-mob10 .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        left: 50%;
        bottom: 0;
        -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        list-style-type: none;
    }

    #main-slider-mob1 .slick-dots li,
    #main-slider-mob2 .slick-dots li,
    #main-slider-mob3 .slick-dots li,
    #main-slider-mob4 .slick-dots li,
    #main-slider-mob5 .slick-dots li,
    #main-slider-mob6 .slick-dots li,
    #main-slider-mob7 .slick-dots li,
    #main-slider-mob8 .slick-dots li,
    #main-slider-mob9 .slick-dots li,
    #main-slider-mob10 .slick-dots li {
        margin: 0 3px;
        padding: 0;
    }

    #main-slider-mob1 .slick-dots li button,
    #main-slider-mob2 .slick-dots li button,
    #main-slider-mob3 .slick-dots li button,
    #main-slider-mob4 .slick-dots li button,
    #main-slider-mob5 .slick-dots li button,
    #main-slider-mob6 .slick-dots li button,
    #main-slider-mob7 .slick-dots li button,
    #main-slider-mob8 .slick-dots li button,
    #main-slider-mob9 .slick-dots li button,
    #main-slider-mob10 .slick-dots li button {
        display: block;
        background-color: #A8A8A8;
        color: transparent;
        width: 8px;
        height: 8px;
        overflow: hidden;
        border: 2px solid #A8A8A8;
        box-sizing: padding-box;
        border-radius: 50%;
        margin: 0 auto;
        padding: 0;
    }

    #main-slider-mob1 .slick-dots li button:hover,
    #main-slider-mob2 .slick-dots li button:hover,
    #main-slider-mob3 .slick-dots li button:hover,
    #main-slider-mob4 .slick-dots li button:hover,
    #main-slider-mob5 .slick-dots li button:hover,
    #main-slider-mob6 .slick-dots li button:hover,
    #main-slider-mob7 .slick-dots li button:hover,
    #main-slider-mob8 .slick-dots li button:hover,
    #main-slider-mob9 .slick-dots li button:hover,
    #main-slider-mob10 .slick-dots li button:hover {
        background-color: #654670;
    }

    #main-slider-mob1 .slick-dots li.slick-active button,
    #main-slider-mob2 .slick-dots li.slick-active button,
    #main-slider-mob3 .slick-dots li.slick-active button,
    #main-slider-mob4 .slick-dots li.slick-active button,
    #main-slider-mob5 .slick-dots li.slick-active button,
    #main-slider-mob6 .slick-dots li.slick-active button,
    #main-slider-mob7 .slick-dots li.slick-active button,
    #main-slider-mob8 .slick-dots li.slick-active button,
    #main-slider-mob9 .slick-dots li.slick-active button,
    #main-slider-mob10 .slick-dots li.slick-active button {
        width: 12px;
        height: 12px;
        background-color: #654670;
        border: 2px solid #654670;
    }
}