.feedback-card-wrapper {
    background: #FFFFFF;
    position: relative;
    border-radius: 10px;
    height: 350px!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 25px;
}

@media (max-width: 767px) {
    .default-header {
        margin-top: 20px;
    }
}

.feedback-card-title-wrapper {
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: space-between;
    width: 100%;
}

.feedback-card {
    margin: 0 15px;
}

.feedback-item-score-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    height: 100%;
}

.feedback-card-title {
    font-family: gilroySemiBold;
    font-size: 30px;
    color: black;
    width: 58%;
}

.feedback-card-date {
    width: 100%;
    font-family: gilroyThin;
    font-size: 14px;
    text-align: left;
    color: black;
}

.feedback-card-text {
    width: 100%;
    font-family: gilroyRegular;
    font-size: 19px;
    text-align: left;
    color: black;
    height: inherit;
}

.feedback-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.feedback-button {
    background: linear-gradient(0deg, #A18CD1, #A18CD1);
    border: transparent;
    border-radius: 25px 0 25px 25px;
    color: #fefefe;
    cursor: pointer;
    font-family: 'gilroyMedium';
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 1px;
    padding: 16px 20px;
    outline: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    text-decoration: none;
}

a.feedback-button:hover {
    text-decoration: none;
    color: #fefefe;
}

a.feedback-button:active {
    text-decoration: none;
    color: #fefefe;
}


.feedback-item-heart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
}

.feedback-item-heart-wrapper svg {
    width: 19px;
    height: 19px;
}

@media (max-width: 1400px) {
    .feedback-card-text {
        font-size: 16px;
    }
    .feedback-item-heart-wrapper svg {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 1250px) {
    .feedback-card-title-wrapper {
        height: 30px;
    }

    .feedback-card-title {
        font-size: 20px;
    }

    .feedback-item-heart-wrapper svg {
        width: 17px;
        height: 17px;
    }
}

@media (max-width: 1150px) {
    .feedback-card-text {
        font-size: 14px;
    }
    .feedback-item-heart-wrapper svg {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 991px) {
    .feedback-card-text {
        font-size: 16px;
    }

    .feedback-card-title {
        font-size: 13px;
    }

    .feedback-card {
        margin: 0;
        padding: 5px 0;
    }

    .feedback-card-wrapper {
        height: 250px!important;
    }
}

@media (max-width: 767px) {
    .feedback-card-text {
        font-size: 13px;
    }

    .feedback-item-heart-wrapper {
        padding: 0 1px;
    }
}

@media (max-width: 600px) {
    .feedback-card-text {
        font-size: 16px;
    }

    .feedback-item-heart-wrapper svg {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 400px) {
    .feedback-card-text {
        font-size: 15px;
    }

    .feedback-card-date {
        font-size: 10px;
    }
}

@media (max-width: 365px) {
    .feedback-card-text {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .feedback-card-text {
        font-size: 13px;
    }
}

@media (max-width: 325px) {
    .feedback-card-text {
        font-size: 12px;
    }
}
