.js-profile-input-lk {
    font-family: 'gilroyRegular';
    padding: 12px 20px;
    background: #fff5f7;
    outline: 0;
    margin-top: 20px;
    border: 1px solid rgba(200, 200, 200, 0.5);
}

.js-profile-regions-lk {
    background: #F8F8F8;
}
