.top-bar .profile-navigation a.profile-row {
    color: #ffffff;
}

.filters .range-selector .noUi-tooltip {
    background-color: #000;
}

.subscribe .input-group input[type=email]::-webkit-input-placeholder,
.subscribe .input-group input[type=email]::-moz-placeholder,
.subscribe .input-group input[type=email]:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

@media (min-width: 600px) {
    body > .footer {
        height: auto !important;
        line-height: initial !important;
    }
}

input[type="text"]::-ms-clear,
input[type="email"]::-ms-clear,
input[type="search"]::-ms-clear,
input[type="password"]::-ms-clear,
input[type="datetime"]::-ms-clear,
input[type="date"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.page-massage {
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.35rem;
    width: 100%;
}

.page__message-order {
    font-size: 20px;
}

.shop-list-item__address {
    margin-top: 1rem;
}

.header .header__search.visible {
	z-index: 2;
}

.banner--xl {
	padding-top: 39.725%;
    background-size: cover;
    background-repeat-y: no-repeat;
}

.home-bg {
    position: relative;
    overflow: hidden;
}
.home-bg__item {
    display: none;
}
@media (min-width: 600px) { 
    .home-bg__item {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        background-size: 100% auto;
        background-position: center top;
        background-repeat: no-repeat;
    }
}

.order-info__modal{
    width: 500px;
    display: none;
}
.js-auth-toggle{
    float: right;
}
.order-info__title{
    font-size: 19px;
    margin-bottom: 20px;
    text-align: center;
}
.order-info__row{
    margin-bottom: 15px;
}
.order-info__row:after{
    display: table;
    clear: both;
    content: '';
}
.order-info__col{
    float: left;
    width: calc(50% - 20px)!important;
    margin: 0 10px!important;
}
.order-info__input{
    height: 51px!important;
    font-size: 17px!important;
}
.order-info__result{
    margin: 25px 10px 0;
    font-size: 16px;
}
.order-info__submit,.order-info__sub{
    width: 50%;
    margin: 20px auto 0;
}
.profile-navigation{
    float: right;
}

@media(min-width: 550px){
    .order-info__fix{
        width: 500px;
        margin: 30px auto;
    }
}
@media(max-width: 550px){
    .order-info__fix{
        width: 100%;
        margin: 30px auto;
    }
    .order-info__col:not(.order-info_captcha-img){
        margin: 0 0 11px!important;
        width: 100%!important;
        float: none;
    }
    .order-info__row{
        margin: 0 auto;
        width: 80%;
    }
    .order-info__captcha .order-info__col{
        margin: 0 0 11px!important;
        height: 50px;
    }
    .order-info__captcha .inputtext{
        /*float: right;
        width: 50%!important;*/
    }
    .order-info__col{
        float: none;
        width: 100%!important;
    }
}

.copy-razrab-mob img, .copy-razrab img{
    height: 14px;
    vertical-align: baseline;
    margin-left: 5px;
}
.copy-razrab-mob a, .copy-razrab a
{
    color: #b3b2b2 !important;
    text-decoration: none !important;
}