.grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.grid a {
    text-decoration: none!important;
    max-width: 160px;
    width: 100%;
}

.advantages-section-wrapper h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 45px;
    color: #000000;
    font-family: 'vollkornsemi';
}

@media (max-width: 991px) {
    .advantages-section-wrapper h2 {
        font-size: 33px;
    }
}
@media (max-width: 766px) {
    .advantages-section-wrapper h2 {
        margin-top: 0px;
    }
    .grid a{
        min-width: 25%;
    }
    .grid{
        justify-content: space-around;
    }
    .img {
        height: 55%;
    }
}

@media (min-width: 991px) {
    .advantages-section-wrapper {
        width: 90%;
        margin-left: 5%!important;
    }
}

@media (max-width: 510px) {
    .grid {
        flex-wrap: wrap;
    }
}

@media (max-width: 450px) {
    .advantages-text {
        font-size: 3.5vw;
    }
}

.padded-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.img {
    padding: 20px;
    padding-bottom: 10px;
    width: 100%;
    max-height: 100px;
}

.advantages-text {
    text-align: center;
    color: #000000!important;
    text-transform: uppercase;
}

.home-advantages-header {
    text-align: center;
}

.advantages-section-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}


@media (max-width: 510px) {
	.grid .img {
		height: 90px;
	}
	.grid a {
		max-width: 50%;
	}
}

