.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
}

.countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 377px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%);
    border-radius: 20px;
    height: 140px;
    padding: 5px 20px 10px 20px;
}

.countdown .day, .countdown .hour, .countdown .min, .countdown .sec {
    padding: 5px;
    width: 23%;
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
}

.countdown .day .num, .countdown .hour .num, .countdown .min .num, .countdown .sec .num {
    display: block;
    font-size: 30px;
    color: black;
    font-family: gilroyRegular;
}

.countdown .day .word, .countdown .hour .word, .countdown .min .word, .countdown .sec .word {
    display: block;
    font-size: 12px;
    color: #000000;
    font-family: gilroyRegular;
}

.countdown-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    color: #737373;
}

.action-closed-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 30px;
    font-family: gilroyRegular;
    color: #FF8177;
}

.action-closed-span {
    width: 377px;
}

@media (max-width: 767px) {
    .countdown {
        width: 100%;
        padding: 0 5px;
    }

    .countdown .day .word, .countdown .hour .word, .countdown .min .word, .countdown .sec .word {
        font-size: 15px;
    }

    .action-closed-wrapper {
        font-size: 25px;
    }
}

@media (max-width: 991px) {
    .action-closed-span {
        width: 100%;
    }
}